[2016-03-10 07:10] rilwis opened #803 "Auto expand height for WYSIWYG field"
The main WP edito has an option full-height which expands the WYSIWYG when typing text or adding images. Is it possible to enable this feature on the WYSIWYG-fields added by the plugin? Probably an option `'autoexpand' => true`.

[2016-03-10 07:15] rilwis commented on #779
Can you please confirm the latest version fixes the bug?

[2016-03-10 07:18] rilwis commented on #612
Just close this issue as the extension has a fix for the update from Yoast.

[2016-03-10 07:18] #612 closed

[2016-03-10 07:20] rilwis commented on #563
The new [version 4.8.3 now supports cloning WYSIWYG field](https://metabox.io/cloning-wysiwyg-supported/).

[2016-03-10 07:20] #563 closed

[2016-03-10 07:25] rilwis commented on #798
Hi,

Can you tell me how do you use the plugin? As a separated plugin or include into themes?

[2016-03-10 07:30] rilwis commented on #796
I think you can solve this *partly* with PHP or *fully* with JavaScript.

The problem is: when you creating a **new** post, WP creates a temporary post ID and store in `#post_ID` field. Using PHP code can't get this value as it's not set anywhere yet. If you **have to** get post ID even for new post, then you must use JavaScript. This is a simple code:

[code]

If you don't need that for new post,

[2016-03-10 07:36] wgstjf commented on #779
Sorry for not getting back to you on this.  Yes, the latest version seems to have fixed it, thanks and well done!

Cheers,

Will

[2016-03-10 07:37] rilwis commented on #791
I made a test with your code http://recordit.co/3uMfuqUOdX

I see the results in the backend and the frontend are the same. However, I see the order of pages when we select **in the admin area** is not correct. Is that what you're facing?

[2016-03-10 07:38] #779 closed

[2016-03-10 07:39] rilwis commented on #779
That's fine :). Glad that it works!

[2016-03-10 08:52] bitorbit commented on #798
Hi,

It is separated (installed from wordpress.org using TGM plugin activation).

Also, when theme is switched, e.g. to twentysixteen the issue persists (with meta-box already installed and activated).

It looks that only some sites/servers are affected.

[2016-03-10 09:37] rilwis commented on #798
Hmm, can you send me admin account and FTP info via contact form at https://metabox.io ? I need to look at that to see where the bug comes from.

[2016-03-10 09:48] bitorbit commented on #798
The problem is that we could not reproduce this on our server, so we will ask our user for FTP access...

[2016-03-10 11:33] bitorbit commented on #798
We have sent you WP and FTP credentials.

[2016-03-10 11:36] eriktdesign commented on #801
Yes, I was only referring to the admin side for this. Maybe you could also add `iframe { max-width: 100% }` to the CSS for the meta box?

[2016-03-10 12:26] enginne commented on #791
Hi Rilwis.
Many thanks for your time.

Yes. That's exactly what i'm facing. I can't order the pages in the admin area and, therefore, the output reflects that order and never my desired order.

It seems the field orders the pages by page_id and not by the order the user wants.

This only happens with 'post_type' => **'page**'. If i change it to 'post_type' => '**post**', or, 'post_type' => '**cust

[2016-03-10 15:40] rilwis commented on #801
Just pushed a fix.

We already implemented CSS [here](https://github.com/rilwis/meta-box/blob/master/css/oembed.css#L9) but the height of the video doesn't change automatically like responsive image.

[2016-03-10 15:40] #801 closed

[2016-03-10 16:09] tanng commented on #766
Hi Will, I've fixed in the latest release. Please check the latest version and tell me if you meet some problem.

Thank you.

[2016-03-10 21:03] ahmadazimi commented on #802
:+1:

[2016-03-10 21:04] #802 closed

[2016-03-10 22:49] Tburnes872 opened #804 "Assign and display URL for value in Select Advanced"
Im trying to create a metabox for my client to select an article source (value) and assign and return the URL for that article as the link that shows up on the front end. Is there a way to do that?

[2016-03-11 08:35] rilwis commented on #804
You can use `post` field which supports nice UI from select advanced field (with option `'field_type' => 'select_advanced'). The value stored by this field is post ID and you can get URL of that post using WP function `get_permalink()`:

[code]

[2016-03-11 09:40] eeynard commented on #631
Hi,

Here is how i do it :
[code]
I just added a hook to WP-API response.

- myCPT is the name of your custom_post_type
- authorized_metadata contain ids (without prefix) of single result metaboxes
- authorized_serialized_metadata contain ids (without prefix) of multiple result metaboxes

Exemple of registered metabox:
[code]

After adding this hook you should see a new object in your json output

[2016-03-11 09:46] jackyon commented on #631
@eeynard ,
wow, nice solution! love it!
thx for your solutions!
I will tried that later ;)

[2016-03-11 10:06] rilwis commented on #798
Thanks. I just fixed it in the commit above. I will release a new version later for that.

[2016-03-11 10:07] #798 closed

[2016-03-11 12:25] Infolu opened #805 "Help oembed list div class"
Hello need personal help.

I have metabox already registered, must list the oEmbed that has enabled the clone ie they are several.

I have the way down he put me list inside a div ul li and I want to edit this order for can include my way div class taking the ul li

[code]

tranks

[2016-03-12 02:11] sebng87 opened #806 "Get the post id from filters"
Hi guys,

Do you know how I can get the post id inside the register metabox filter like so ?

[code]

thank you

[2016-03-12 17:32] funkedgeek commented on #753
This should be fixed in the next version of the plugin.  Plupload_image now shares the same code as image_advanced.  Please try the github version

[2016-03-12 19:01] funkedgeek commented on #806
I don't think the filter is designed to work like that, since I don't think a post id is even available when it is run.  What were you trying to do?

[2016-03-12 19:03] funkedgeek commented on #805
if it's a clone field, then rwmb_meta would probably return an array.  You would need to use a for loop to print the multiple oEmbeds

[2016-03-13 00:32] sebng87 commented on #806
Basically I need to have nested cloneable groups, but because at the moment the plugin only supports one level of nesting I'm working on a solution which consist to dynamically create multiple metaboxes with the a cloneable group in it from the admin panel

[2016-03-13 06:20] Infolu commented on #805
hello can give me a simple example with oEmbed because with images I can as follows

<?php
            $images = rwmb_meta( 'trades_mb_media_photos_img', 'type=image&size=YOURSIZE' ); // Prior to 4.8.0
            if ( !empty( $images ) ) {
                foreach ( $images as $image ) {
                    echo "<div class='col-xs-3 col-sm-2'><a class='fancybox' href='{$image['full_url']}' data-f

[2016-03-14 14:33] rilwis commented on #806
I think you can get the ID for the current post via `$_GET['post']` like this:

[code]

[2016-03-14 14:36] #796 closed

[2016-03-15 01:50] sebng87 commented on #806
it works fine thank you guys !

[2016-03-15 01:50] #806 closed

[2016-03-15 01:50] #799 closed

[2016-03-15 14:12] Infolu commented on #805
Hello, following my solution, if someone else needs to take doubts.

`$url = get_post_meta( get_the_ID(), 'metabox_id', true ); // Prior to 4.8.0
            $open = ('<div class="col-xs-3"><iframe frameborder="0" allowfullscreen src="');
            $close = ('"></iframe></div>');
            $value = "$open" . implode("$close $open", $url) . "$close";
            echo $value;`

Thank you all

[2016-03-15 14:12] #805 closed

[2016-03-15 16:26] funkedgeek commented on #390
Has this ever been resolved?

[2016-03-15 20:52] funkedgeek commented on #623
Couldn't you just separate your fields in different meta boxes and hide the meta boxes they don't need?  I can easily see the screen options area getting cluttered with dozens of fields.  Meta boxes can already be hidden so I don't think this feature is needed

[2016-03-15 20:59] gurumark commented on #623
The metaboxes are meant to be displaying interrelated data. If you hide the metabox, it will hide everything inside. We want users to have ability to disable what they want at the field level. The cluttering issue is not really a big deal. In addition, it will be useful to be able to select which ones go in there.
Thanks for your response in any case.

[2016-03-15 21:07] funkedgeek commented on #623
Not sure it's the job of Screen Options, since that is more for showing and hiding sections/modules instead of individual items

[2016-03-15 21:15] gurumark commented on #623
There are many plugins implementing enabling/disabling fields/columns in Screen options. Besides I don't think Slug or Author can be considered a section.

[2016-03-15 21:20] funkedgeek commented on #791
Have you tried adding an`orderby` argument to `query_args`?  `query_args` takes the same arguments as `WP_Query`, so you can use that to order it however you want.

[2016-03-15 21:24] funkedgeek commented on #791
Try using `orderby` in `query_args` to order the pages the way you want:

[code]

[2016-03-16 04:20] funkedgeek commented on #738
I have a branch which has this functionality: https://github.com/rilwis/meta-box/commit/3d81b04794cb113729315c70c24f4269cb042ddb.  Feel free to test it out

[2016-03-16 04:21] funkedgeek commented on #746
Refactoring done but not sure how you want timestamp to work

[2016-03-16 04:24] rilwis commented on #746
I think we should make it simple: if `'timestamp' => true`, then store timestamp in the meta field instead of date. But output the date in the field for user to choose.

[2016-03-16 04:25] funkedgeek commented on #746
So the current time and date every time the meta is saved?

[2016-03-16 04:26] rilwis commented on #746
No.

If user selects date = 12/3/2016, then the value save is timestamp('12/3/2016').

[2016-03-16 04:28] funkedgeek commented on #746
Sorry, not understanding the difference

[2016-03-16 04:30] rilwis commented on #746
For example:

We have a date field with format "yyyy-mm-dd". When user clicks on that field, he can choose any date, like "1/1/2017".

When we save the field, we will convert "1/1/2017" to timestamp and save that timestamp into the custom field.

Here we don't save the current time or something. We save timestamp of the selected date.

[2016-03-16 04:32] funkedgeek commented on #746
Just not understanding what you mean by timestamp.  Is that a specific
format?

On Tue, Mar 15, 2016 at 11:30 PM Tran Ngoc Tuan Anh <
notifications@github.com> wrote:

[2016-03-16 04:36] rilwis commented on #746
Ah, it's the Unix timestamp. See here https://en.wikipedia.org/wiki/Unix_time

[2016-03-16 04:38] rilwis commented on #746
Similar to what we get from `time()`

[2016-03-16 04:39] funkedgeek commented on #746
Okay, you already have it like that.

[2016-03-16 04:43] funkedgeek commented on #746
Can you double check the date refactoring branch?  Seems to work for both single and clone for all 3 date fields

[2016-03-16 04:51] rilwis commented on #746
I will check it later today. Thanks for the great work!

[2016-03-16 04:59] #778 closed

[2016-03-16 05:01] funkedgeek commented on #738
So if the datepicker is inline, should we hide the text box?

[2016-03-16 17:01] atomtigerzoo opened #808 "Wrong path for js/css file inclusion in loader.php"
Hi!
I'm having the problem that `$url` in [line 33 in loader.php](https://github.com/rilwis/meta-box/blob/master/inc/loader.php#L33) gets a wrong path on two of my systems. One is a debian wheezy, the other a Xubuntu inside a virtualbox, both running fine with nginx with latest php5. Also the paths were correct before version 4.8.x.

On both systems the value of `$url` contains a `/themes/`, hence

[2016-03-17 03:14] #541 closed

[2016-03-17 03:30] funkedgeek commented on #473
Fixed in https://github.com/rilwis/meta-box/commit/f8bbf528d14222c66d650888d169f321b6ee8a26

[2016-03-17 03:30] #473 closed

[2016-03-17 03:31] funkedgeek commented on #429
The `image_select` field does this when `multiple` is set to `false`

[2016-03-17 03:31] #429 closed

[2016-03-17 03:32] funkedgeek commented on #708
@tanng has this been fixed?

[2016-03-17 09:21] atomtigerzoo commented on #808
Just looked up the list() method you are using - and found out that the behaviour will change with PHP7, so you might want to change it anyway? http://de2.php.net/manual/en/function.list.php#refsect1-function.list-notes

[2016-03-17 13:15] tanng commented on #708
Yeah

[2016-03-17 13:15] #708 closed

[2016-03-17 17:57] enginne commented on #791
@funkedgeek - Thanks for the response.

The problem with that approach is that the user never gets to order the items as he wishes.

I tested with 'orderby' => 'none', with hopes that i could select the order i want but it doesn't work either. The select box always pushes for a certain order of the selected items, and the output reflects that.

Funny think is that i only have this problem with pag

[2016-03-18 06:40] Esager opened #809 "Thickbox Image uploader missing Insert Into Post button in media library tab"
When using the Thickbox Image Uploader for an image field, it's missing the 'Insert Image Into Post' button when you try to select an image from the media library tab.

[2016-03-18 10:00] Sinusite commented on #738
cool! I will test that over the next couple of days.
Mmmm by default yes ? but maybe we could  have the choice to hide or not the text box ? :p (for web accessibility it's better...)

[2016-03-18 13:31] cacaio opened #810 "Error Meta-Box Activate"
Hello,

When I try to activate the plugin generates this error:

Erro fatal : Class 'RWMB_Core' não foi encontrado na /home/youin756/public_html/wp-content/plugins/meta-box/inc/loader.php na linha 127

How can I solve it ?

Thanks.

[2016-03-18 14:20] ThomasSultana opened #811 "MetaBox Updater Not updating"
Hi,

I was having trouble getting the meta box extension plugins to update and realised that you may be calling an incorrect filter.

Old:
`add_filter( 'pre_set_site_transient_update_plugins', array( $this, 'check_updates' ) );`
New:
`add_filter( 'site_transient_update_plugins', array( $this, 'check_updates' ) );`

Once, i made this change it was able to find the upgrades instantly. Also it would

[2016-03-18 14:26] rene-hermenau opened #812 "image_advanced not working in WP 4.5 because of updated backbone.js lib"
Media uploader is opening but selecting an image is just closing the uploader window without returning the image url. I am still debugging this. Maybe you already have a clue about this issue?

[2016-03-18 16:42] #669 closed

[2016-03-21 04:57] CarassiusPro commented on #810
I am having the same error with metabox embedded in my plugin, I have also checked the "3 step fix" and it is all perfectly fine in my functions etc

[2016-03-22 12:53] sbouafif commented on #809
The problem seems to come from thickbox which don't show that button when the editor is not available for a post type.

You can force to always show that button by adding this code to functions.php
`add_filter('get_media_item_args', 'allow_img_insertion');
function allow_img_insertion($vars) {
    $vars['send'] = true; // 'send' as in "Send to Editor"
    return($vars);
}`

(it may be fixed by add

[2016-03-22 13:55] maticomp opened #814 "Taxonomy field with select_tree not displaying saved hierarchical values"
Hi guys!

I've encountered a problem I am almost sure worked quite a while ago, but I can't be sure anymore. I've been updating Metabox regularly for over a year, and lately have noticed this problem occurs.

We have a taxonomy field declared in a Metabox for our custom field type, that we register using `rwmb_meta_boxes` filter in our plugin like that.

[code]

the field uses a hierarchical taxon

[2016-03-22 14:06] rlaan opened #815 "Metabox include exclude function check_custom() only checks regular functions not class methods (has patch)"
Dear metabox crew,

I would like to suggest the following code for the include/exclude plugin check_custom() method:

[code]

In this way a user can also use class methods as its custom method.

Thanks,
Ruud

[2016-03-22 23:11] krivinarius commented on #808
I'm having a problem with line 77 in loader.php
`$url  = str_replace( wp_normalize_path( $content_dir ), $content_url, wp_normalize_path( $path ) );`
This solution is not working with WP installations that do not use 'wp-content' folder.
Why aren't you using plugins_url function https://codex.wordpress.org/Function_Reference/plugins_url

[2016-03-23 03:24] rilwis commented on #815
Thanks for your contribution.

I think it's better to check by [`is_callable`](http://php.net/manual/en/function.is-callable.php) instead of making 2 if.

[2016-03-23 03:29] rilwis commented on #815
New version is just released :)

[2016-03-23 03:29] #815 closed

[2016-03-23 03:51] rilwis commented on #809
Thanks @sbouafif for the fix. I've just added it to the plugin.

[2016-03-23 03:51] #809 closed

[2016-03-23 03:56] funkedgeek commented on #814
Does the taxonomy have the native meta box?  That might be interfering

[2016-03-23 04:02] rilwis commented on #811
Hi, which version are you using? I made an update for the Updater some days ago (v1.1.2) which solves the problem of receiving updates instantly.

The reason `pre_set_site_transient_update_plugins` is used instead of `site_transient_update_plugins` is the 1st filter fires only when WP needs to check for updates, while the later is when WP get the updates (which is checked before). Using the 1st on

[2016-03-23 05:37] rilwis commented on #808
Just pushed a fix. Can you please test with your install? @atomtigerzoo @krivinarius
Thanks a lot!

[2016-03-23 07:53] rlaan commented on #815
Hi Rilwis,

Yes! excellent fix, didn't think of that.

Thanks for the quick turnaround
Ruud

[2016-03-23 08:49] atomtigerzoo commented on #808
Great, works fine on both of my systems. Can be closed from my side of the issue.
Just FYI, your plugin was - in both cases - inside the normal plugin directory.

[2016-03-23 11:25] rene-hermenau commented on #812
I tracked this issue down to the backbone library which is updated in WP 4.5 from backbone v. 1.1.2 to backbone v. 1.2.3

From https://github.com/WordPress/WordPress/commit/4693b251718442ed0903f13326652a4aa529dfcd

* As of Backbone 1.2.0, you can no longer modify the `events` hash or your view's `el` property in `initialize`, so don't try to modify them there.
* Since Underscore 1.7, Underscore te

[2016-03-23 13:22] funkedgeek commented on #812
Can you try the most recent commit on github?  I don't know if its related to the changes you listed but I found some wierd bug and made a patch.  Should be working now

[2016-03-23 13:56] rene-hermenau commented on #812
@funkedgeek you made my day. That's awesome. Working perfectly! Thanks so much.

Switching from listenTo to on handler already fixed it completely.
Creating initSort was not necessary for this particular case.

I still do not understand  why the handler was removed from listenTo before it could be used but _frame.on is working fine :+1:

[2016-03-23 14:12] maticomp commented on #814
No, there is no native meta box for this taxonomy.

[2016-03-23 20:12] karissademi opened #816 "Datepicker cut off by TinyMCE"
A date field which should fall on top of the wysiwyg editor will get hidden behind it.

It can be fixed by adjusting the z-index of `#ui-datepicker-div` but it would be nice if that was included in meta-box.

<img width="690" alt="screen shot 2016-03-23 at 4 06 21 pm" src="https://cloud.githubusercontent.com/assets/479028/13999180/6697ca7a-f111-11e5-9e5f-3dfc03f8435e.png">

[2016-03-23 20:40] krivinarius commented on #808
Thank you, that worked.

[2016-03-23 21:36] Tburnes872 commented on #804
I would actually be calling a URL from another site. The way I have it set up now is:

[code]

So I'm setting the "article source" in select advanced values, and using the URL field to assign the url of the original article as the link. Here are the register Meta Boxes:

[code]

Does this make sense?

[2016-03-24 02:01] rilwis commented on #816
Just pushed a fix. I couldn't replicate the bug with [this test](https://github.com/rilwis/meta-box/blob/master/tests/datetime.php). Hope the fix works in your case :)

[2016-03-24 02:01] #816 closed

[2016-03-24 02:01] #811 closed

[2016-03-24 02:06] #808 closed

[2016-03-24 03:26] #812 closed

[2016-03-24 04:41] rilwis commented on #810
Can you check the latest version on Github?

[2016-03-24 04:42] rilwis commented on #800
Hi again, I've made a fix yesterday. Can you check the latest version on github?

[2016-03-24 04:43] #746 closed

[2016-03-24 04:44] #743 closed

[2016-03-24 04:53] rilwis commented on #784
Just added an option `select_all_none` with default value is `false`. So it's better for backward compatibility. You can turn it on/off by setting this to true/false.

[2016-03-24 04:53] #784 closed

[2016-03-24 04:59] rilwis commented on #804
I see. In this case, users need to enter article URL. It's not predefined. So I think select/select_advanced isn't suitable as they require a list of options to select from.

[2016-03-24 05:00] #804 closed

[2016-03-24 07:26] jacobdeane commented on #791
Have you tried `'orderby' => 'menu_order'`? This should order pages in the order that they are in the admin menu...

[2016-03-24 18:02] karissademi commented on #816
Thanks!

On Wed, Mar 23, 2016 at 10:01 PM, Tran Ngoc Tuan Anh <
notifications@github.com> wrote:

[2016-03-26 14:35] funkedgeek commented on #814
Trying to figure this out because it works fine for me, albiet I'm using it with the built in categories.  Let me create a custom taxonomy and try it out

[2016-03-26 14:50] funkedgeek commented on #814
Okay, not seeing the problem.  Created a new taxonomy, made some hierarchical terms and the field saves as fine.  I'm using the latest version of the plugin on github and no problems.  Can you show a video demonstrating the problem?

[2016-03-26 14:51] #738 closed

[2016-03-26 18:17] lolametro opened #817 "Error 500 after 4.8.4 update"
Hi,

since I installed version 4.8.4 of the plugin, my whole wp-admin directory responds an Error 500.
With 4.8.3, everything was fine. Newest WP version (4.4.2) installed. As far as I know, only the theme "Positivus" is using Meta Box functions on my site.
I don't know how to log the errors, so if you could say what I should do, I can give you more information.

Greetings

[2016-03-26 21:10] funkedgeek commented on #777
probably because the locale is returned as uppercase, while the locale files are lowercase

[2016-03-26 21:15] #632 closed

[2016-03-27 01:06] #777 closed

[2016-03-27 01:09] funkedgeek commented on #753
This should be fixed since the code has been overhauled.  Please reopen if you are still running into issues

[2016-03-27 01:09] #753 closed

[2016-03-27 05:28] funkedgeek commented on #390
Probably related to and fixed in https://github.com/rilwis/meta-box/issues/771

[2016-03-27 05:28] #390 closed

[2016-03-27 05:32] #727 closed

[2016-03-27 05:35] funkedgeek commented on #721
Any changes for this issue?  Is the plugin working again?

[2016-03-27 15:35] #787 closed

[2016-03-27 16:03] Sinusite opened #818 "Remove ?sensor=false from map.php"
map.php / line 18 & 124 / which prevent the warning :

" Google Maps API warning: SensorNotRequired https://developers.google.com/maps/documentation/javascript/error-messages#sensor-not-required "

[2016-03-28 13:23] Sinusite opened #820 "Extend Map.js"
map.js is complicated to extend (for me).
Any idea how to include Google Place library - _establishments _?

Anyway, it would be a good thing to make it more 'google dev friendly', including **places libraries**

See https://developers.google.com/maps/documentation/javascript/examples/places-autocomplete?hl=fr
or https://developers.google.com/maps/documentation/javascript/examples/places-searchbox

[2016-03-28 13:29] Sinusite opened #821 "Map has no refresh in collapsed metabox."
if the map field is in collapsed metabox, the map remains hidden until the metabox opening & page refresh.

As it is written in map.js  :

[code]

[2016-03-28 13:32] Sinusite commented on #749
I Agree :) like https://developers.google.com/maps/documentation/javascript/examples/places-searchbox?hl=fr

Please see https://github.com/rilwis/meta-box/issues/820

[2016-03-28 13:33] #766 closed

[2016-03-28 14:20] #821 closed

[2016-03-29 01:30] rilwis opened #822 "Support revision"
By default, WP doesn't support saving fields in revisions. That might cause users to be confused when editing posts.

These are some work around this problem:

Save/Restore meta value revision
https://wordpress.org/support/plugin/wp-post-meta-revisions

Show meta value revision data in revision screen
https://wordpress.org/support/topic/post-meta-revisions-added-to-database-but-not-showing-in-ui

[2016-03-29 01:35] rilwis commented on #817
Can you turn on the debug mode and see what outputs in the admin screen? Here is the instruction:

http://codex.wordpress.org/Debugging_in_WordPress

PS: Positivus is a premium theme, I couldn't check its source code :(. If you need to fix urgent, please send FTP info and admin account details via the [Contact form](https://metabox.io/contact)

[2016-03-29 08:25] baden03 opened #823 "rwmb_meta for images no longer returning array after 4.8.4 update"
Prior to the 4.8.4 update I would request an image value like so:
[code]
and it would return an array as described in the documentation: https://metabox.io/docs/get-meta-value/#section-image
However, since 4.8.4, the same function is now only returning a string with the id of the image.
Since I am also using the meta-box-group plugin, i see this was also updated (10 days after my licence expired),

[2016-03-29 08:52] lolametro commented on #817
I've searched through the log and found this. Does this help you? If not, I will send you the theme.
`[29-Mar-2016 08:47:28 UTC] PHP Catchable fatal error:  Object of class WP_Post could not be converted to string in /var/www/virtual/awde/html/wp-content/plugins/meta-box/inc/fields/choice.php on line 56`

[2016-03-29 09:57] rilwis commented on #823
Hi,

This is unexpected behaviour. We used `wp_parse_args` function which accepts both string and array for the arguments. Let me check again.

Thanks for letting me know.

[2016-03-29 10:03] rilwis commented on #817
@funkedgeek Can you please check this?

[2016-03-29 13:00] funkedgeek commented on #817
Actually, the fix I added last night should fix the problem.  Please try the github version of the plugin

[2016-03-29 13:10] lolametro commented on #817
Yes, this fixes it for me. Thanks for your help!

[2016-03-29 13:10] #817 closed

[2016-03-29 15:23] aymericpasco opened #824 "Displaying additional Media infos with file_advanced"
Hello,
First of all thank you for your very detailed documentation.

I explain my problem: I have a Metabox which I use to upload audio file in order to display a tracklist for each post with `file_advanced` field.

I would like to retrieve informations from each music as the artist, the legend and the title that it is already recovered by `{$file['title']}`.

I tried with the help of your doc, bu

[2016-03-29 18:12] aymericpasco commented on #824
I found only this solution that I added in the `foreach ($files as $file)` loop :
[code]

Is this the only solution?

[2016-03-29 20:14] rorymcdaniel opened #825 "Incorrect URL to plugin assets after upgrading to 4.8.4"
I use capistrano for deployment, so my wp-content/plugins directory is a symlink to ../../../shared/wp-content/plugins.  The URL is (should be) the standard /wp-content/plugins. After upgrading to 4.8.4, in the admin area, I'm getting errors in the console when plugin assets are being included.

The URL for the css and js files is showing up as (for example):

`http://s16236.p157.sites.pressdns.co

[2016-03-30 01:39] rilwis commented on #825
Just pushed a fix for this. Previously in 4.8.3, I detected the symlink by checking if the plugin's path contains ABSPATH, but it's not safe and bad coded. This new version use default `plugins_url` which is safer.

Please test and let us know.

[2016-03-30 01:56] rorymcdaniel commented on #825
It works beautifully. I really appreciate your quick response. I've been using this plugin since you just had some code posted on your blog. Great to see it grow over the years.

[2016-03-30 02:17] rilwis commented on #825
It's nice to know that :). It's almost 6 years since I published the 1st tutorial about meta box. Lots of things are added and changed since then and I'm very happy to have you using it all the time :)

[2016-03-30 02:17] #825 closed

[2016-03-30 02:20] funkedgeek commented on #823
Does `$images = rwmb_meta( 'my_image_id', array('size'=>'full' );` work?

[2016-03-30 04:52] baden03 commented on #823
yes, as this is using an inline associative array, rather than first defining it as a variable.

[2016-03-30 10:35] Johnnychaos commented on #443
Now map field returns HTML code:

`<div class="rwmb-map-canvas" data-map_options="{&quot;latitude&quot;:&quot;45.5820204&quot;,&quot;longitude&quot;:&quot;-122.74019629999998&quot;,&quot;width&quot;:&quot;100%&quot;,&quot;height&quot;:&quot;480px&quot;,&quot;marker&quot;:true,&quot;marker_title&quot;:&quot;&quot;,&quot;info_window&quot;:&quot;&quot;,&quot;js_options&quot;:{&quot;zoom&quot;:14,&quo

[2016-03-30 17:05] spendavis commented on #641
I've just purchased the metabox group extension and I'm having considerable trouble trying to render images in the frontend using image_advanced.

Do you have any example code that I might be able to try using?

[2016-03-30 17:25] enginne commented on #791
@jacobdeane, Yes. Tried with every possible argument but with no avail.
With 'menu_order' it orders by page id too.
The only change was using 'name' argument. It outputs by name, but then again, i can never order by a custom order.

[2016-03-31 02:23] funkedgeek commented on #791
Actually, all post types work the same way for select advanced.  If the field is set to be ordered in any way, like publish date or page id or title, the select_advanced field will order it the way it was ordered initially.  It won't reorder depending on how you select them.  That's just how it works.  As of right now, there isn't a way to set a custom order

[2016-03-31 14:44] baden03 commented on #823
Has anyone been able to recreate the issue?

[2016-04-01 04:04] rilwis commented on #823
I made a simple test like this:

[code]

And here is the result:

![result](http://i.prntscr.com/fe1c6fb21b0f42879d56afd96d46c602.png)

Can you post your code so we can test together?

[2016-04-01 12:48] Sinusite opened #826 "media translation"
wp_localize_script( 'rwmb-media', 'i18nRwmbMedia' ...)
not translated with french. i don't have the .po so here the FR version :

[code]

[2016-04-01 19:11] #818 closed

[2016-04-04 11:29] wgstjf opened #827 "Radio buttons in ul list - 4.8.5"
Hi guys,

I see you have modified the displayed html format of radio button fields to now be in an unordered list.  I am sure there are good reasons for this but it has messed up the layout of my metaboxes.  Have you added any css (to prevent me having to do so to every site that I have built) to be able to define them as inline-lists rather than individual block items?

I had this....
![image](ht

[2016-04-04 11:30] wgstjf commented on #827
If you have...can it please default to inline for backward compatibility?

[2016-04-04 16:12] wgstjf commented on #827
@funkedgeek thanks for getting on that so quickly.  I see you have also added a 'collapse' class...for full backwards compatibility would it make sense to also add the following css?

[code]

Cheers,

Will

[2016-04-05 10:55] custard-apple commented on #73
when I'm typing `$result = wp_set_object_terms( $product_ID, 'variable', 'product_type' );`
getting this as output
`WP_Error Object
(
    [errors] => Array
        (
            [invalid_taxonomy] => Array
                (
                    [0] => Invalid taxonomy
                )
        )
    [error_data] => Array
        (
        )

)`

[2016-04-06 14:55] pixedelic opened #828 "Google maps on demand"
Is there any way to avoid to load maps.google.com/maps/api/js on all pages even if a Google map isn't used? It affects the page speed rank. I'm not here to debut about page rank system, but I would like to show good page rank on my home page at least.

TIA

[2016-04-07 04:48] d2roth opened #829 "Is it possible to hide the counter for image_advanced fields"
Hey,
I am wondering if it is possible to hide the text "0/1 file" that appears when limiting the number of images in an image_advanced field. Basically I only want to allow a user to upload 1 image with image_advanced but I don't want the counter. I realise I could do some css trickery but I was hoping that there might just be a setting that I could flip to turn that counter off.

To reproduce thi

[2016-04-11 05:47] funkedgeek commented on #73
is `product_type` a valid taxonomy?  Can you post the code that initializes this taxonomy?

[2016-04-11 08:40] Bartjuh4 opened #830 "strict error after updating to 4.8.5"
We get errors after updating to 4.8.5:

PHP Strict POST /wp-admin/admin-ajax.php
Declaration of RWMB_Taxonomy_Field::get_option_label() should be compatible with RWMB_Choice_Field::get_option_label($value, $field)

[2016-04-11 09:07] rilwis commented on #827
@funkedgeek Can you please check and update?

[2016-04-11 15:37] #830 closed

[2016-04-11 15:45] funkedgeek commented on #827
Collapse is there for setting whether a hierarchical checkbox list autohides the child lists.  The code proposed makes it too cramped.

[2016-04-11 15:52] wgstjf commented on #827
Hadn't spotted that :-)

Just trying to have a default setting that emulates the previous styling so that I don't have to go and re-code all the sites out there I have that are using this wonderful plugin...

Any other thoughts?

[2016-04-11 15:54] funkedgeek commented on #827
Sorry, did my fix not work?

[2016-04-11 16:01] wgstjf commented on #827
Nearly :-)

The problem is that as you are now using an unordered list there is a lot of margin and line-height stuff being added that needs to be reset to keep everything looking the same.

If you look at the 'Header Text Colour' bit below (which are in fact radio buttons) you will see that it has a large amount of margin both on the UL and the LI that is either browser default or added from you

[2016-04-11 16:10] funkedgeek commented on #827
Can you try the latest commit?  I had to add some margin to the label, otherwise it makes text look squished

[2016-04-11 16:16] wgstjf commented on #827
Looks much better, thanks. :-)

[2016-04-11 17:55] #824 closed

[2016-04-11 17:57] funkedgeek commented on #824
Added in the latest commit.  Meta data is now returned as part of the data that is returned in rwmb_meta

[2016-04-11 18:02] akabaka opened #831 "taxonomy_advanced not saving value"
Using "taxonomy_advanced" with a few different "field_type" options, and it's not saving after update.

[2016-04-11 18:03] funkedgeek commented on #831
Can you post your code you are using so we can test it?

[2016-04-11 18:05] akabaka commented on #831
Custom taxonomy with slug "slideshows":
`    $meta_boxes[] = array(
        'id'       => 'pageopts',
        'title'    => 'Page Options',
        'post_types'    => 'page',
        'context'  => 'normal',
        'priority' => 'high',
        'fields' => array(
			array(
				'name'  => 'Which slideshow?',
				'desc'  => 'If slideshow is selected above, which one?',
				'id'    => $prefix . 'slid

[2016-04-11 18:15] #827 closed

[2016-04-11 18:15] #831 closed

[2016-04-11 18:17] funkedgeek commented on #831
Please test with the latest commit.  Should be fixed

[2016-04-11 18:20] akabaka commented on #831
Yep, that did it. You guys rock, thanks!

[2016-04-11 18:42] akabaka opened #832 "taxonomy_advanced seems identical to taxonomy"
This is related to #831. I'm using the taxonomy_advanced for a field showing all entries in custom taxonomy "slideshows":
`array(
				'name'  => 'Which slideshow?',
				'desc'  => 'If slideshow is selected above, which one?',
				'id'    => $prefix . 'slideshowcat',
				'field_type' => 'select',
				'type'  => 'taxonomy_advanced',
				'taxonomy' => 'slideshows',
			),`
I thought that taxonomy_adva

[2016-04-11 18:45] funkedgeek commented on #832
The only difference between taxonomy taxonomy_advanced is how it saves the data.  They both should return term data.

[2016-04-11 18:52] akabaka commented on #832
Okay, that's my mistake then. From the description it seemed like a simple way to get a string output. Thanks for clarifying!

[2016-04-11 18:52] #832 closed

[2016-04-12 09:14] sptheme opened #833 "Two taxonomy fields conflict"
I have registered two taxonomy fields and switch on/off base on custom page template e.g: homepage and featured video page. It's working fine, cannot saving.

// Homepage
$meta_boxes[] = array(
	'id'			=> 'homepage-options',
	'title'			=> __( 'Homepage Options', 'wpsp_meta_options' ),
	'post_types'	=> array( 'page' ),
	'context'		=> 'normal', // Where the meta box appear: normal (default), advance

[2016-04-12 12:57] funkedgeek commented on #833
Both fields are trying to save on the same taxonomy, which is why it doesn't work.  I suggest using separate taxonomies.

[2016-04-12 12:57] #833 closed

[2016-04-12 13:30] Sinusite opened #834 "Capability and edit post : file_upload vs file"
With  'type' => 'file_upload', another author (may be editor ?) that the one who has uploaded can't view the preview in edit post screen ( which is possible with the  'type' => 'file' ).

I don't know why, but adding  'manage_options' capability to the author give him the preview and file access .

[2016-04-12 14:01] funkedgeek commented on #834
file_upload uses plupload and uploads directly to WordPress, so it makes sense you need permission to do so.  I'll look into it

[2016-04-14 04:12] sptheme commented on #833
Many thanks for your helps, now it's working after use different taxonomies..

[2016-04-14 12:07] boutzamat opened #835 "Full_url stopped working over night..."
Thanks for this awesome plugin - very helpful.

I have used it for a while, and without any changes, it stopped working over night.
I have never used admin_init to register the boxes, i used the same method as in the docs.

Only full_url is not working , everything else is..

My functions:
`add_filter( 'rwmb_meta_boxes', 'rw_register_meta_boxes' );

function rw_register_meta_boxes( $meta_boxes ){

[2016-04-14 12:27] ahmadawais opened #836 "MB-Settings Page Produces two notifications instead of one!"
I am using the latest version of MB-Settings-Page for the first time and it is producing two notificatiions when I press save.

![](https://i.imgur.com/d6uHZ5P.png)

I think this is an issue.

[2016-04-14 16:04] rilwis commented on #836
Can you describe how you get it? I saw it once in the past, but now couldn't replicate it.

[2016-04-14 16:07] ahmadawais commented on #836
Umm, I am building the plugin in question. Once it's built in a day or two. I will send you the Git repo link to check.

[2016-04-15 03:32] funkedgeek commented on #835
If all the files are images, use `image_advanced` instead.  full_url has never been returned by `file_advanced`, but it is used by `image_advanced`.  I have a feeling you were using `image_advanced` before.

[2016-04-15 03:33] #835 closed

[2016-04-15 03:51] #829 closed

[2016-04-15 12:20] maticomp commented on #814
Okay, sorry for the delay, we've been flooded with other work.

I'm looking through commits and can't see anything related, but I wanted to record the video sample for you today and I updated WP to 4.5 and Metabox to latest. The problem simply disappeared, it works like a charm.

I'm clueless what has changed, but since it works, there is nothing to do here. Thank you for your support!

[2016-04-15 12:20] #814 closed

[2016-04-15 12:30] maticomp opened #838 "Taxonomy Advanced returns all taxonomy items for posts with no meta saved"
I'm not sure if it's related directly to Metabox changes, or WP changed something during last few updates, but I've encountered a problem with `taxonomy_advanced` field for taxonomies, where the post in question has no taxonomy entries saved.

**Problem:**

[code]
returns valid tags for posts that have `own_post_featured_tags_metabox_tags` meta non-empty. For empty values of this meta, all post ta

[2016-04-15 12:34] maticomp commented on #443
Bump from me. The update broke our display of all of our maps. We were relying on lat & long and rendeging using another mapping library.

[2016-04-15 12:39] Johnnychaos commented on #443
I've found a solution - you need to use get_post_meta:
$map = get_post_meta( get_the_ID(), 'map_field', true );  // returns "lat,long"
$map = explode(',', $map);

[2016-04-15 12:40] maticomp commented on #443
Yeah, I know how to hack this, not being able to access lat&long from Metabox without rendering a Google Map markup seems to me like a bug and unexpected behaviour though.

[2016-04-16 00:32] zabestof commented on #823
Hey,

I've encountered this problem too after updating from 4.8.3 to 4.8.5 but the thing is on my localhost it is working fine while on a client's website it returns the image id. And I'm using just the metabox plugin without any extensions.

[2016-04-16 13:18] #838 closed

[2016-04-16 13:18] funkedgeek commented on #838
Should be fixed now, thanks

[2016-04-17 15:16] Sinusite commented on #820
The [new premium extension Geolocation](https://metabox.io/plugins/meta-box-geolocation/)  do almost the job (when the perfect compatibility with map field type will be done).

[2016-04-17 15:16] #820 closed

[2016-04-17 15:18] #826 closed

[2016-04-18 19:33] webbudesign opened #841 "Object of class WP_Post could not be converted to int error"
I am using this code for get images
`rwmb_meta( 'xx_images', array( 'type'=>'image' ));`

But I receive this error
`Notice: Object of class WP_Post could not be converted to int in xxx/wp-includes/post.php on line 4946
Notice: Object of class WP_Post could not be converted to int in xxx/wp-includes/post.php on line 4946
Notice: Object of class WP_Post could not be converted to int in xxx/wp-includ

[2016-04-18 20:34] funkedgeek commented on #841
Latest commit fixes this

[2016-04-18 20:34] #841 closed

[2016-04-19 20:59] eriktdesign commented on #511
You can run your content through WordPress' `the_content` filter to run shortcodes, do embeds, as well as auto-paragraph etc.

`echo apply_filters(` 'the_content', $whatever_content );`

[2016-04-20 02:33] d2roth opened #842 "Empty datetime field with timestamp=>true returns January 1, 1970"
I am using Meta Box version 4.8.5.

Basically what I want to allow is for an event to have no start_date. So I created an events post type with a meta box and tried to set the start date to a blank value. The problem though is, when I save the post the meta field with the empty value it gets changed to a 0 then the next time the page loads the meta_value is 0 which is the unix timestamp for Januar

[2016-04-20 15:36] coleh33 opened #843 "Taxonomy Advanced Not Saving"
I am unable to get taxonomy_advanced field to save after making a selection.  All other field types are working and saving properly.  This is on a custom post type.  The categories populate properly but just won't save.

`array(`
  `'name'  => __( 'Blog Category', 'alphamedia-framework' ),`
  `'desc'  => 'Select a blog category to appear inside the shows page.',`
 `'id'    => '_show_post_category'

[2016-04-20 15:38] funkedgeek commented on #843
Please update to the latest version on github.

[2016-04-20 15:38] #843 closed

[2016-04-21 09:17] Chillifish commented on #842
Wow, thought you'd copied my issue from the support pages! I'm having the same issue.

[2016-04-21 19:44] tomcat90 opened #844 "Global Post Variable is getting reset"
We have a page that we pull in a bunch of other pages and list. During the first iteration of the loop the rwmb_meta call resets the global post to the page that hosts the loop and not the current post in the loop.  In the code below the first element of the loop is ID: 171 and the page that hosts the loop is ID: 59

[code]

[2016-04-21 23:30] aerlaut commented on #844
I'm getting the same behaviour too. Current workaround is to call a `rwmb_meta()` once just before the loop.

[2016-04-22 03:31] funkedgeek commented on #844
Weird, not replicating this.  Are you using any other plugins?

[2016-04-22 03:33] #842 closed

[2016-04-22 03:35] funkedgeek commented on #842
Fixed.  Default for empty date field with timestamp was 0; now it will be set to null

[2016-04-22 14:47] tomcat90 commented on #844
![screen shot 2016-04-22 at 8 46 54 am](https://cloud.githubusercontent.com/assets/9612610/14745065/cd69b7c4-0866-11e6-8172-491e5b338f20.png)

[2016-04-22 15:38] Nicholas-Cardot opened #845 "Image-advanced Placeholders"
I just recently updated to the most recent version, and it appears that I've lost the ability to create image placeholders.

Previously, when the image-advanced field was empty, there existed an element with a class of "hidden" that I could hijack with some js and css, set a background image, and it would serve as an image placeholder providing context and a recommended aspect ratio to our users.

[2016-04-22 18:10] rafasegat opened #846 "Fatal Error - WP 4.5"
Hello,

Why this error is happening? Thanks

Plugin could not be activated because it triggered a fatal error.

Warning: require_once(ADDRESS/wp-content/plugins/meta-box/inc/common.php): failed to open stream: No such file or directory in ADDRESS/wp-content/plugins/reflektor-portfolio/meta-box/meta-box.php on line 33

Fatal error: require_once(): Failed opening required ‘ADDRESS/wp-content/plugins

[2016-04-23 01:30] funkedgeek commented on #846
Looks like it's trying to open up a file from the wrong folder

[2016-04-23 01:32] funkedgeek commented on #844
Can you try disabling all the plugins and trying the code with each one one by one to see whichis causing the issue?

[2016-04-23 18:18] Nicholas-Cardot commented on #800
Rilwis,

I have this included in my plugin, and I have several customers who are expressing that they are seeing this same error.

Fatal error: Class 'RWMB_Core' not found in /home/nginx/blahblahblah/public/wp-content/plugins/blahblahblah/meta-box/inc/loader.php on line 122

I just pulled the most recent version of this plugin for inclusion about 2 days ago. Thanks!

[2016-04-23 21:01] Nicholas-Cardot commented on #845
Nvermind. I got a good workaround for this issue.

[2016-04-23 21:01] #845 closed

[2016-04-24 08:43] rilwis commented on #846
Hi @rafasegat,

Are you the author of the plugin reflecktor-portfolio? If yes, can you please update the included version of Meta Box and check the [guide to include it into a plugin](https://metabox.io/docs/include-meta-box-plugin-themes/)?

[2016-04-24 08:44] rilwis commented on #844
Just asking: could you try the latest version on Github? I pushed a fix for global post object a while ago.

[2016-04-24 08:47] rilwis commented on #828
Hi TIA, do you use the helper function `rwmb_meta` on every page? The plugin loads the script only when the helper function is called for map field.

[2016-04-24 09:16] rilwis commented on #443
In case you need to separate fields for **querying** the database (like looking for nearby places), this is a a simple hack:

https://wordpress.org/support/topic/seperate-latitude-and-longitude-from-map-meta-box

We would probably update this later when we found a good way to migrate old data.

[2016-04-24 13:18] pixedelic commented on #828
Hello, I'm Manuel ('TIA' was for 'thank in advance' :-) ) however, I use `rwmb_meta` to check if the meta box is filled, but I don't use any Google map across the site. When I wrote the message I just installed the site and the only content was the sample page. At this moment I'm using a custom solution instead of your plugin, but if there was a solution I'd be more than glad.

Thank you again

[2016-04-24 16:22] rilwis commented on #828
Oh, I see. The `rwmb_meta` if used will trigger the enqueue script for Google maps. Therefore, you will see the script. It was built to help users to output the map in the front end without coding (because it's a *helper*).

If all you need is just a simple check `if ( get_post_meta( get_the_ID(), 'field_id', true ) )`. It's fast and reliable.

So, I think we can close this issue :)

[2016-04-24 16:22] #828 closed

[2016-04-24 20:00] pixedelic commented on #828
Ok, thank you!

[2016-04-25 14:10] rafasegat commented on #846
Hi rilwis,

Yes I am. Cool, thanks.

Great plugin!

Im including the MetBox directly.

Just like that.
require get_template_directory() . '/meta-box/meta-box.php'; // Path to the plugin's main file

Should I include as you included at Glao theme?

Thanks
Raf

[2016-04-25 15:25] rilwis commented on #846
Yes, you should use TGM Activation class. The reasons are described very carefully in the documentation.

But if you want to include the plugin directly, I guess you just need to update the plugin before including it. The error says file `common.php` is not found and this file is not available in the current version of Meta Box.

[2016-04-25 16:58] rafasegat commented on #846
Ok,

I got it. But when my customers try to install the plugin, show this error.

This Plugin Has an Invalid Header

So I reckon the problem is MetaBox..

Did this error happen to you before?

Thanks
Raf

[2016-04-25 17:34] johnwmcarneiro opened #847 "Images are automatically loaded"
Hello,
I am using the metabox to upload multiple images. When I click to new post, it automatically is using the images of the 'Media' no I have chosen.
Every new post it loads all images of 'Media'.
Have any setting should I do so that it does not automatically load the images?
`add_filter( 'rwmb_meta_boxes', 'sizy_post_metaboxes' );
function sizy_post_metaboxes( $meta_boxes ) {
  global $text_do

[2016-04-25 17:52] Nicholas-Cardot commented on #846
@rafasegat If you include the plugin directly into your plugin or theme, I've found that you will get the invalid header error unless you open the main meta-box.php and remove the commented out section. That section contains information essentially telling WordPress that it's a standalone plugin. Since it's not standalone, because it's included inside of another plugin (or theme), that information

[2016-04-25 19:15] johnwmcarneiro commented on #847
Hello,
In PHP 5.6 is giving problems, set up to version 5.5 and it worked normally.
But I found the problem, the plugin makes a query_attachments request to admin-ajax.php informing the draft ID instead of Wordpress return empty it returns all images. I checked the file wp-admin / includes / ajax-actions.php on line 2363 "$query = array_intersect_key ($query, array_flip ($keys))", PHP 5.6 does not

[2016-04-25 20:33] funkedgeek commented on #847
What version of the plugin are you using?

On Mon, Apr 25, 2016, 3:08 PM John W. M. Carneiro <notifications@github.com>
wrote:

[2016-04-25 20:36] johnwmcarneiro commented on #847
I'm using the latest 4.8.5.

[2016-04-26 16:10] Nicholas-Cardot commented on #810
@rilwis This is a duplicate of issue #800 and I'm using the most current version and still seeing this error on a small number of sites. I've got about 5 - 10 people seeing this error.

I did notice that for some people, this error went away by uninstalling my plugin and reinstalling it. Perhaps there's a hook that runs when it's installed or activated or something. I don't know.

[2016-04-26 16:39] rilwis commented on #810
@Nicholas-Cardot Thanks for letting me know. Can  you please send me your plugin (just for testing) via email (in my profile page)? This is annoying bug and I want to fix it completely.

[2016-04-26 16:45] rilwis commented on #846
@Nicholas-Cardot: Thanks for helping. I'm not aware of the file header. WP didn't show that error before.

@rafasegat: Can you please try the method that Nicholas suggested and let us know?

[2016-04-26 16:56] rafasegat commented on #846
The problem is, if I use TGM Class my customers will not like to download other plugin to make my plugin works.

Thats weird.

Is it dangerous to include directly as I am doing?!

Thanks guys

[2016-04-26 16:57] Nicholas-Cardot commented on #810
@rilwis I just sent you a link to our GitHub. You can browse it from there, or download to test if you want. Thanks for be willing to look into this.

[2016-04-26 23:11] funkedgeek commented on #847
That query is just the image modal getting all the images.  Not sure what is going on.  What plugins do you have active?

[2016-04-26 23:31] johnwmcarneiro commented on #847
So as I said, I decided when I changed PHP's version from 5.6 to 5.5, what I realized is that the request was not being sent with the variable post__in, I will install a new site on my server to try to test again and demonstrate the problem, because the site that I fix is in production.

[2016-04-27 08:28] rilwis commented on #846
@rafasegat No, it's fine to include the plugin directly. Did you update to the latest version on Github before including into your plugin as I instructed?

[2016-04-28 22:32] Nicholas-Cardot commented on #810
@rilwis Here's the first system status I've gotten back from a customer so far:

Home URL REDACTED
Site URL REDACTED
WordPress Version 4.5.1
PHP Version 5.5.9-1ubuntu4.16
WP Memory Limit 40M
Social Warfare Version 1.4.2
Connection Statuses

fsockopen Enabled
cURL Enabled
Tweet Counts Enabled
Plugin Statuses

Theme Name TMA
Theme Version
Active Plugins
Number of Active Plugins 38
Ad Injection 1.2.0

[2016-04-29 04:55] PlayerThemes opened #848 "ThemeCheck Warning: add_shortcode"
Theme Check WARNING: The theme uses the add_shortcode() function. Custom post-content shortcodes are plugin-territory functionality.

TF soft rejected theme for embedding Meta-Box inside theme which generates above warning.

[2016-04-29 05:02] rilwis commented on #848
Hi @PlayerThemes,

The `add_shortcode` should belong to the plugin as that's the plugin territory. The problem is you put everything into your theme and Theme Check will check the **plugin** with the **theme requirements** which cause the problem.

I suggest one of the following solutions:

1. Manually remove the shortcode in the plugin's file. (`inc/functions.php`). But you will need to manually

[2016-04-29 19:10] karissademi opened #849 "'timestamp' => true breaks saving of metabox fields in specific cases"
Here's the code I'm using to create a datetime metabox.

[code]

When the `timestamp` is set to true, the user MUST either use the sliders to select time (or the dropdowns in the above example).

If the user types the date or time, the data doesn't save on publish and will revert back to January 1, 1970 (as seen in https://github.com/rilwis/meta-box/issues/842). The timeInput setting does not appe

[2016-04-30 09:58] ma3ie4 opened #850 "Multiple wp_localize_script"
Hi,
great plugin! I use it in all of my projects.
I've noticed that **wp_localize_script** is adding multiple i18nRwmbMedia arrays to HTML.
Line 18 - \meta-box\inc\fields\media.php
It looks like for every: field 'type' => 'image_advanced' - there is separate array.

![screenshot_17](https://cloud.githubusercontent.com/assets/18750070/14935231/4e3c2d64-0eca-11e6-8a3f-3ecc8e7a237b.png)

As I underst

[2016-04-30 12:24] d2roth commented on #849
When I had the problem in #842 I found this problem as well.

My research uncovered the following, this is actually an issue with the jQuery plugin that is being used. Well not really an issue just an edge case that gets slightly complicated. Basically there is a hidden input which contains the timestamp, .rwmb-datetime-timestamp, and this is the field that is stored in the database. Now the issue

[2016-04-30 19:57] AkshayKomarla opened #851 "unable to pass array variable to select field"
I'm using  this code to get data from text type metabox..this will create an array

[code]

My problem is that when using the wp_query function along with metabox the metabox will not load..

Hers is the entire code

[code]

[metabox.txt](https://github.com/rilwis/meta-box/files/243795/metabox.txt)

[2016-05-02 00:00] edcousins commented on #847
Did you find a fix for this @johnwmcarneiro ? We have a user with the same issue, but unable to replicate in any local instances, and no other users seem to have the issue. Very strange!

[2016-05-02 00:28] johnwmcarneiro commented on #847
To fix I did downgrade the PHP from 5.6 to 5.5.
The problem is in function array_intersect_key in wp-admin/includes/ajax-actions.php on line 2363 "$query = array_intersect_key ($query, array_flip ($keys));".
In PHP5.6 it works one way and not another PHP5.5, in PHP5.6 it does not include the post__IN variable.
I can not fix the code, sorry.

[2016-05-02 06:54] funkedgeek commented on #847
wierd because I have PHP 5.6 and it doesn't do this

[2016-05-02 15:05] Nicholas-Cardot commented on #810
I had another developer look into this issue, and this is what they found. I'll implement this and test this later today:

I have researched the codes of meta-box plugin/extention
and I see, we can have a error only when the autoload function (in line 84 of the file meta-box/inc/loader.php)
is not triggered (or not worked correctly) before calling the class RWMB_Core,
which is calling in the init(

[2016-05-02 16:50] rilwis commented on #810
If we include the `RWMB_Core` class manually, that will fix for it only. But the autoload function won't work for other classes (fields classes). Probably the host disables autoload extension. I will keep digging into that.

[2016-05-02 16:51] rilwis commented on #614
I've just released a new version for Group extension which allows us to clone text fields in a group. But either the group or the sub-field is non-cloneable, e.g. not both of them are cloneable.

[2016-05-02 16:58] Nicholas-Cardot commented on #810
See I was wondering the same thing: That if we include it like this then we're only fixing this one symptom but not actually fixing the whole thing.

[2016-05-02 17:27] #848 closed

[2016-05-02 17:30] rilwis commented on #810
I just found [this ticket](https://core.trac.wordpress.org/ticket/21300#comment:1), and the [install manual](http://php.net/manual/en/spl.installation.php) where they say the autoload functionality **can** be disabled in PHP 5.2.

My guest is in some rare cases, the autoload is disabled in some hosts where they're running PHP 5.2.

@Nicholas-Cardot Can you check that with your customer?

[2016-05-02 20:32] Nicholas-Cardot commented on #810
The customer I listed above is using 5.5.x, not 5.2. Can it still be disabled on that version or didn't they make it always on after 5.3?

[2016-05-03 00:48] gibrangt commented on #810
WP Version:               4.5.1
WP_DEBUG:                 Disabled
WP Language:              en_US
Multisite:                No
WP Memory Limit:          40MB
WP Memory Limit Status:   Not OK - Recommended Memory Limit is 64MB
WP Table Prefix:          wp_
WP Table Prefix Length:	  3
WP Table Prefix Status:   Acceptable
WP Timezone:              , GMT: -6
WP Remote Post:           wp_remote_post()

[2016-05-03 09:36] wgstjf opened #852 "fieldset_text within cloneable group"
Hi guys,

I need to have a fieldset_text field (or something similar) within a cloneable group...actually in a perfect world I would like to have a cloneable group within a cloneable group but understand this is not a feature yet.

The idea here is that (within the cloneable group) the admin can create a list of items (each with title and description input box) that they can clone to have as many

[2016-05-03 18:09] Nicholas-Cardot commented on #810
Here's a note that I got back from another developer:

**********************************************************
as you know It's solving the problem for RWMB_Core, but we can have also problem for other classes in current plugin
as I see, all problem can be from only autoload function
so, If we are sure we have a suuport for spl_autoload_register
next step which I can suggest, It's adding the 3r

[2016-05-04 15:14] wgstjf opened #853 "Cloneable group with wysiwyg editor"
Hi guys,

Got a bit of an issue.  I see that in an email you sent out on 7th March that WYSIWYG editors are now cloneable.  I have one in a cloneable group but the subsequent clones do not load the editor properly.  I simply see a textarea (with no text visible).  I believe this is because both the editors have the same ID....can you suggest a work-around/fix?

Cheers,

Will

[2016-05-04 21:03] Nicholas-Cardot commented on #810
@rilwis I think I may have a solution.

It appears that on a very, very small number of sites (I'm estimating about <0.1%) they have autoload functionality disabled by the hosting provider. Usually this is done in php.ini. In order to cater to these hosting scenarios, we need to include the files manually.

So I wrote a function that recursively searches through the plugin folder and includes ever

[2016-05-04 21:05] karissademi commented on #849
Thanks @d2roth. Your response definitely helps shed light on the situation. I'll investigate possible solutions and post back if I come up with anything that seems useful. At least in the short term, we will have to rely on training our users on using the UI elements to update the fields.

[2016-05-05 01:10] rilwis commented on #810
Hi @Nicholas-Cardot ,

That was exactly what I was thinking about. I will do that now.

[2016-05-05 02:46] rilwis commented on #810
Done. Can you please test it on real hosting? @Nicholas-Cardot @cacaio @CarassiusPro ? I tested it on my localhost by disabling autoload and it works.

[2016-05-05 02:50] d2roth commented on #810
Hey @rilwis and @Nicholas-Cardot, instead of going through and making a list of the order couldn't you just add a require, or require_once, statement at the top of each field file that would require the needed class file if the class doesn't exist?

So inside fields/file.php you would have if (!class_exists('fielda')){require_once('fielda.php');}. If fielda extends another class it would have the

[2016-05-05 02:52] joeporterme opened #854 "Cloning Doesnt Work with Yoast SEO plugin activated"
Think there is a javascript issue. Just tested... I had Yoast SEO plugin installed.. created my cloning fields and cloning didnt work.  Deactivated Yoast and boom cloning was working.  Also the drag and drop image fields

[2016-05-05 06:17] rilwis commented on #810
@d2roth it would work, of course. That was how I did in previous versions. However, loading all files is still a must-do job (remember the autoload doesn't work in that case).

[2016-05-05 08:49] wgstjf commented on #852
Hi guys,

Would really appreciate a response on this as I can't figure out a work-around currently and the project is time-sensitive.

Cheers,

Will

[2016-05-05 09:36] rilwis commented on #852
Hi Will,

I'm working on cloned group inside cloned group. So, I will address this issue, too. The bug comes from complicated field `name` attribute which makes the JS run incorrectly. `fieldset_text` is similar to a group as it stores an array of data. So, the same problem. Is it possible for you to move the fieldset_text outside the group in the meantime. Although I'm working on it, but I'm not

[2016-05-05 12:51] PlayerThemes opened #855 "Taxonomy Type Interferes with Post category"
I have added following meta field to "Add New Post" page. But when I update the post, the categories selected in meta box are saved as categories of post as well.

So in other words metabox data is interfering with post category data. Is this a bug or I am doing something wrong?

[code]

[2016-05-05 12:58] funkedgeek commented on #855
The taxonomy `category` is post category, so I'm not sure what you're asking.  What are you trying to do?

[2016-05-05 15:04] wgstjf commented on #852
Thanks for the reply.  I understand the problem but unfortunately I cannot move the fieldset_text outside the group as it is being used in a form of page builder where the group is a panel on the page.

Is there a way to get the fieldset_text to show 10 rows and do away with the ability to clone a new row?  For some reason I cannot get it to do so, it just shows 2 whatever I do?

Cheers,

Will

[2016-05-05 17:04] PlayerThemes commented on #855
Sorry for not being clear enough.

I have added meta box  for some slider options (styel, slide count,etc) inside post creation page. One of which is post category list. Admin can select which category of post images to show in slider. The problem is this slider - category meta box is having issue with the normal post category section ( below publish button). Whatever selected in metabox category

[2016-05-05 18:01] funkedgeek commented on #855
That's what its supposed to do; set the term for that particular post. I
suggest using taxonomy_advanced and change the id of the field

On Thu, May 5, 2016, 12:04 PM PlayerThemes <notifications@github.com> wrote:

[2016-05-06 00:15] PlayerThemes commented on #855
Thanks.  @funkedgeek

[2016-05-06 00:15] #855 closed

[2016-05-06 01:10] #810 closed

[2016-05-06 01:10] rilwis commented on #800
I will close this issue as it's resolved in #810

[2016-05-06 01:10] #800 closed

[2016-05-06 01:12] rilwis commented on #846
@rafasegat Do you see any error after updating to the latest version on Github?

[2016-05-07 16:03] d2roth commented on #849
@karissademi, have you found anything?

[2016-05-09 11:00] wgstjf commented on #853
Need a solution to this guys, any thoughts?

Cheers,

Will

[2016-05-09 12:45] Infolu opened #857 "Maps does not work for me"
Staff have the following code below, but it does not work for me on the front end is just a blank frame. not carrying the address of the back end except in andress, someone help me to display the map or find the problem?

[code]

Display

[code]

[2016-05-09 14:58] rilwis commented on #853
Hi Will, did you update both Meta Box (development version on Github) and Group extension? I did work on the ID issue for the group.

[2016-05-09 15:01] rilwis commented on #857
@funkedgeek Can you please look at this?

[2016-05-09 15:02] rilwis commented on #854
@funkedgeek Please look at this issue

[2016-05-09 15:04] #846 closed

[2016-05-09 15:06] rilwis commented on #846
I will close this issue. Please add more comments if you still see the problem.

[2016-05-09 15:18] rilwis commented on #17
I think this issue can be closed as the plugin now uses a custom theme for date picker and time picker which matches WP style.

[2016-05-09 15:19] #17 closed

[2016-05-09 16:37] wgstjf commented on #853
Just done so as didn't know you had been working on it.  WYSIWYG editors now working fine, thanks!

Problem with [fieldset_text](https://github.com/rilwis/meta-box/issues/852) remains though...

Cheers,

Will

[2016-05-10 01:16] rilwis commented on #853
I'm still working on the cloning nested group issue and will check this.

[2016-05-10 01:16] #853 closed

[2016-05-10 01:17] rilwis commented on #850
@funkedgeek Please fix this.

[2016-05-10 01:34] rilwis commented on #850
Just looked at this and I think it might be the same as @ma3ie4 said about the default implementation of `wp_localize_script`. I'm looking for WC for a solution.

[2016-05-10 02:04] rilwis commented on #850
Added a fix for this. Better than the way WC does :).

The logic is checking if the script already has localized string: if no -> add localized string, if yes -> ignore. Because each field requires only 1 localized string, this works nicely :)

[2016-05-10 02:04] #850 closed

[2016-05-10 05:09] joeporterme commented on #854
FYI - Yoast 3.2.5 came out... tested and still an issue.

[2016-05-10 05:34] rilwis commented on #789
Since there's no replies. I will close this issue. Feel free to reopen it when you still see the problem.

[2016-05-10 05:35] #789 closed

[2016-05-10 05:38] rilwis commented on #437
Please try the latest version. I will close this issue and if you still see the problem, please reopen it.

[2016-05-10 05:39] #437 closed

[2016-05-10 09:43] wgstjf opened #858 "Dev version image_advanced backwards compatibility"
Hi guys,

To fix an issue with the cloning of wysiwyg editors I have installed the current dev version of Meta Box.  This has fixed that issue but brought in a new one.

You seem to have changed the returned value/array when one uses the helper function to return image_advanced custom fields.

In my example I am using image_advanced field to attach a single image.

Previously when I called the cus

[2016-05-10 09:53] rilwis commented on #858
Hi Will,

I remember this was added to Meta Box a long time ago, not in the dev version. [Here](https://github.com/rilwis/meta-box/blob/4.1.10/inc/helpers.php#L47) is the version 4.1.10. You can see that if the field type is `image_advanced`, the plugin will get image info for you.

BTW, the output format above seems come from ACF plugin :), not from Meta Box.

[2016-05-10 10:21] wgstjf commented on #858
Sorry I disagree... :-)

With Meta Box 4.8.5 Live version installed I get the first output (ie. the ID of the field)

With Meta Box 4.8.5 Dev version from github I get the array as shown above.

ACF is definitely NOT installed - would never use it... :-)

Cheers,

Will

[2016-05-10 10:36] rilwis commented on #858
Hmm, that must be a bug in 4.8.5 :(, as `rwmb_meta` always returns an informative array. I made that from the first day and can't be wrong with that. I will check 4.8.5 version and find the bug.

[2016-05-10 16:34] funkedgeek commented on #854
Not able to replicate this bug.  cloning is working for me.  Are you getting any errors in the JavaScript console?

[2016-05-10 16:46] joeporterme commented on #854
Here is a screencast of hit happening with Console Open.

https://www.dropbox.com/s/1fvypgorgw0zofv/yoastmetabox.mov?dl=0

error seems to be coming in the wp-seo-post-scraper-324.min.js

Just letting you know, im running a child theme off Wordpress 2016 theme.

[2016-05-10 16:50] funkedgeek commented on #854
Looks like a bug that is preventing other JavaScript code from running.  I'm still not able to replicate it, though

[2016-05-10 16:51] joeporterme commented on #854
Doing a google search on the error looks like someone else has an issue with it and metabox.io and posted a comment over at yoast: https://github.com/Yoast/wordpress-seo/issues/4161

[2016-05-11 02:29] rilwis opened #859 "Idea: Merge input fields into 1 "input" field"
I just have an idea to optimize code for input fields. We have several similar input fields such as text, url, email, password, slider where the implementation is almost the same.

I'm thinking about a new way to merge them into 1 universal input field where we need only 1 file for all.

The concept is similar to WordPress implementation of Customizer field (see class-wp-customize-control.php, met

[2016-05-11 02:38] funkedgeek commented on #859
Isn't that just going back to version 1 of the plugin where all the fields were handled in 1 class?  Also, we have 1 input class, which all the other input classes inherit from

[2016-05-11 02:44] rilwis commented on #859
No, definitely not. What I mean is just optimizing for only <input type=".."> field :).

For example, both text and url field has similar html function:

<input type="field[type]"...>

If we can optimize that (we currently did some parts), we can do it better, for example:

$field_class = get field class;
if ( ! class_exists( $field_class ) )
    $field_class = 'RWMB_Input_Field';

in input.php fi

[2016-05-11 06:09] tanng commented on #859
Looks like concept of ASP.NET, they put all input into input field even Textarea (it's a input with `multiline` attribute).

[2016-05-11 06:27] rilwis commented on #859
No, we don't try to put all input into 1 input field. I just want to use 1 code for super-similar fields like text, url, email.

[2016-05-11 15:22] tanng opened #860 "Can't retrieve cloned Image Advanced selected value"
I have a clonable Image Advanced field (radio)

Now, I'll loop through each item and check if it's checked or not. I'm using this snippet:
[code]
If I clicked on an item, then it's checked and all others aren't. Even though they're item on other radio group.

This should be same as radio, if I click on an item, all others in current group is unchecked instead of all other radio is unchecked.

[2016-05-11 20:06] karissademi commented on #849
@d2roth This hasn't been a high priority, but hopefully soon!

[2016-05-11 20:18] d2roth commented on #849
@karissademi same here. Anyhow last night I got into it a bit and found there are a whole bunch of little catches to it. Like what if someone wants to cancel modifying the date? Like I enter the date with the picker then wipe it out, as soon as I click away my original date is lost but what I really wanted to do was restore the date.

What do you think the flow should be? Do you think it would mak

[2016-05-12 00:04] Infolu commented on #857
Hello Can anyone help me ?

[2016-05-12 03:30] #857 closed

[2016-05-12 03:35] funkedgeek commented on #860
What's the code for the field?

[2016-05-12 05:00] tanng commented on #860
For example

[code]

[2016-05-12 05:40] Infolu commented on #857
@funkedgeek hi, unfortunately for me it did not work with the correction in the maps-frontend.

see how is my map box in frentend

One observation I have other plugins or js loaded only the metabox-io.
http://oi65.tinypic.com/33mrc5u.jpg

tranks

[2016-05-12 11:51] funkedgeek commented on #857
Can you post a picture of the console?  Are there any errors?

On Thu, May 12, 2016 at 12:40 AM Infolu <notifications@github.com> wrote:

[2016-05-12 13:19] Infolu commented on #857
@funkedgeek
How are you? My problem is being on the map display in the frontend, the backend is saving normally as you can see in the images below.

back End  http://imgur.com/SEqojDt
front End http://imgur.com/aMiHsmC

Really do not know what might be causing this, as you can see on the image of the front end it carries the api of Google Maps, however displays not leaving the box blank.

[2016-05-12 13:45] funkedgeek commented on #857
I need a picture of the JavaScript console on the front end.  Click on the
tab that says console so I can see if there any errors.

On Thu, May 12, 2016 at 8:19 AM Infolu <notifications@github.com> wrote:

[2016-05-12 13:46] Infolu commented on #857
@funkedgeek
Hi, Sorry about that after adding the bug fix forgot to enable the tests the wp_enqueue_script ("jquery"); .

Thank now works perfectly.

[2016-05-13 03:54] rilwis commented on #614
The new version 1.1 of the Group extension now supports this :). Please update the extension (and use with latest version on Github).

[2016-05-13 03:54] #614 closed

[2016-05-13 05:01] rilwis commented on #860
@tanng I've just pushed a fix for this. The "selected" attribute is set correctly now (as it's saved correctly). Please check.

[2016-05-13 06:50] wgstjf opened #861 "Meta Box Group v.1.1 - Nested Groups"
Hi guys,

Thanks for all the hard work to bring us Nested Groups...strangely excited!

I have been testing it this morning and whilst the JS seems to work I cannot get it to save more than one row of my cloneable nested group.

There is too much code to show everything here but the following is a snippet of the I am using for the nested group:

[code]

The group displays correctly:

![image](https

[2016-05-13 10:16] rilwis commented on #861
I knew that there will be bugs, but didn't expect that so soon :)

I've just checked your code and it works without Columns extension activated. It seems that the Columns extension adds more markup and breaks the JS. I will fix it soon.

[2016-05-13 11:52] funkedgeek commented on #858
Might be related to https://github.com/rilwis/meta-box/issues/823

[2016-05-13 11:53] #511 closed

[2016-05-13 11:55] funkedgeek commented on #844
Has this been resolved for you?  I'll close this but please post if you're still having issues

[2016-05-13 11:55] #844 closed

[2016-05-13 12:04] funkedgeek commented on #851
in the function, set `$lo_name` as global.  The function can't see it:

`global $lo_name;`

[2016-05-13 12:04] #851 closed

[2016-05-13 12:06] funkedgeek commented on #847
Has this been fixed for you?  I recently edited some code that should resolve this

[2016-05-13 12:13] funkedgeek commented on #849
If you type in the date and time, you have to hit done in the dropdown, otherwise it doesn't get set correctly on save

[2016-05-13 12:18] #849 closed

[2016-05-13 12:21] wgstjf commented on #861
Sorry about that :-)  Look forward to the fix :-)

[2016-05-13 12:39] edcousins commented on #847
Hi @funkedgeek

We've only had one user with the issue, as of yet, haven't found a fix.

[2016-05-13 12:56] funkedgeek commented on #847
Have you tried the latest version of the plugin on GitHub?

[2016-05-13 13:06] edcousins commented on #847
No - but will do. Unfortunately the user with the issue is no longer using the theme, so will have to look out for any re-occurence. Thanks for letting me know.

[2016-05-13 14:36] d2roth commented on #849
@funkedgeek Thanks for that fix. It comes a long way but I noticed 2 things when  I tested it. They may be a different issue but seem related. First if you clear the field and then click anywhere else, to update the field you get an error:

This can be remedied by adding the following to the getTiemstamp( date ) function:
[code]

Secondly with that fix now when you save the post the timestamp reve

[2016-05-14 01:38] #847 closed

[2016-05-15 15:53] flowdee opened #863 "Checkbox description => label"
Shouldn't the checkbox **desc** become a label too?

I'm (and many others too I think) are used to click on the text besides a checkbox in order to activate/deactivate it.

[2016-05-15 19:18] funkedgeek commented on #638
Closing this for now.  Please explain what video details ui.

[2016-05-15 19:18] #638 closed

[2016-05-16 02:11] rilwis commented on #861
Hi Will, I've just fixed the Group extension. Please update to version 1.1.1.

[2016-05-16 02:22] rilwis commented on #852
Hi Will,

I've just tested with the latest version of Group and looks like it can handles this situation well. Please check :)

[2016-05-16 02:50] rilwis commented on #854
I'm not able to replicate the bug, neither. @joeporterme: can you please give us more details to track this:
- Code to register post type
- Code to register meta boxes
- Which user role are you using

[2016-05-16 02:56] joeporterme commented on #854
`<?php
/**
* Plugin Name: Life Network Clients
* Plugin URI: https://greanews.life
* Description: Life Network Clients Management - Manages Advertising and Partner Profiles
* Version: 1.0
* Author: GreatNews.life
* Author URI: greatnews.life
* License: NONE
*/

/**** INCLUDE FILES *******/
include( plugin_dir_path( __FILE__ ) . 'inc/meta-boxes.php');

/**** REMOVE PLUGINS FROM ACCESSING THIS POST

[2016-05-16 02:56] joeporterme commented on #854
signed in as administrator

[2016-05-16 03:11] rilwis commented on #858
Hi Will, I've just tested with 4.8.5 and 4.8.4 and in all cases, the Meta Box plugin returns an array of info.

Can you give us the full code to test?

[2016-05-16 03:13] rilwis commented on #823
@baden03 @zabestof Could you please send us the full code to test? As I said in the previous comment, it worked for me. So I need more description on the error to track it and fix.

Thanks a lot.

[2016-05-16 03:22] rilwis commented on #714
Hi,

This commit 4f0a7351447e653f2a8a276533c75557d9917fe3 adds support for saving `zoom` in the meta value. So you can get zoom using this code:

`$proyecto_coords = explode(',', $proyecto_ubicacion);
echo $proyecto_coords[2];`

[2016-05-16 03:22] #714 closed

[2016-05-16 03:23] rilwis commented on #854
Awesome, let me work on it now.

[2016-05-16 03:25] joeporterme commented on #854
oh.. maybe this will help or not... but i am on a Wordpress Multisite Install ... not sure if that is something you should know

[2016-05-16 03:59] rilwis commented on #854
Just found the bug!

You removed the Yoast SEO meta box with this code

[code]

That makes the Yoast SEO JavaScript code breaks because it couldn't find the  elements to update the SEO results. Removing  the code fixes the bug.

I suggest you use CSS to hide Yoast SEO meta box instead of removing it :) Just enqueue a simple CSS file or output CSS in the `<head>` section.

[2016-05-16 04:01] rilwis commented on #601
Can you please tell me if it worked again? I've updated the Group extension several times.

[2016-05-16 04:08] joeporterme commented on #854
oh man! thanks so much... i guess its not a bug for meta-box  sorry for the goose chase... i guess i wish yoast made it easy to disable on custom post types :(

[2016-05-16 04:13] rilwis commented on #854
Yeah, you should open an issue for Yoast SEO then :). I'm sure they're glad to receive feedback.

[2016-05-16 04:13] #854 closed

[2016-05-16 04:23] rilwis commented on #836
Hi, have you finished the plugin? Do you still see the bug?

[2016-05-16 08:13] wgstjf commented on #861
Working perfectly, thanks for the quick fix :-)

[2016-05-16 08:34] ahmadawais commented on #836
I stopped using the settings ext due to this bug. Never tested it again.

[2016-05-16 08:51] #861 closed

[2016-05-16 08:53] rilwis commented on #836
Can you help me to fix this by sending me the code you used? I just couldn't replicate the bug to fix :(.

[2016-05-16 09:12] ahmadawais commented on #836
@rilwis I scrubbed that code from the GIt. Maybe I will try it again later and will let you know.

[2016-05-16 09:12] #836 closed

[2016-05-16 09:14] rilwis commented on #836
OK, thanks :)

[2016-05-16 19:40] zabestof commented on #823
I have also tried with the code you've pasted above and it has the same result. On my localhost and on my vps server it is working fine. On 3 of my clients (there are 3 now) I need to use the code like this to pull the images:

`$image = rwmb_meta( 'my_image', array( 'size' => 'full' ) );`

Otherwise it just returns the id of the image.

Unfortunately I don't have too much access on their servers

[2016-05-17 01:31] rilwis commented on #823
Thanks a lot for your feedback.

Can you please post full code you use on clients' servers? And some info about their servers like: OS, WordPress version?

[2016-05-17 02:05] rilwis commented on #863
Just made a fix for this. Now you can click both on checkbox's name on the left or checkbox's description to activate/deactivate it.

[2016-05-17 02:08] #671 closed

[2016-05-17 02:11] rilwis commented on #398
The [Meta Box Show/Hide](https://metabox.io/plugins/meta-box-show-hide/) extension and the more powerful [Meta Box Conditional Logic](https://metabox.io/plugins/meta-box-conditional-logic/) now can do the job well.

[2016-05-17 02:11] #398 closed

[2016-05-17 02:15] #863 closed

[2016-05-17 02:15] #852 closed

[2016-05-17 02:15] #601 closed

[2016-05-17 02:20] rilwis commented on #728
I've just tested with the default location `47.6064,-122.3316` and it shows the center in Seattle. Please let me know if you still see the bug.

[2016-05-17 02:25] rilwis commented on #587
Hi Fahid, we've updated the JS for the map field. Please let us know if you still see the bug.

[2016-05-17 02:34] rilwis commented on #689
I think the problem happens when you haven't saved the post => no value is saved in the database. Saving the post fixes it (we always have to save the post to show it in the front end, right? In case you edit an existing post, just update it).

By the way, we also updated our `rwmb_meta` to make sure it doesn't output anything if there's no value. So if you haven't saved the post => nothing is sho

[2016-05-17 02:34] #689 closed

[2016-05-17 02:35] rilwis commented on #718
I think the problem is you moved the file that registers meta boxes and custom fields. That's why the field isn't showing in the back end. Please check the log to make sure you include the correct file.

[2016-05-17 02:36] #718 closed

[2016-05-17 02:59] fahidjavid commented on #587
Yes, it has been fixed.

On Tue, 17 May 2016 at 07:25 Tran Ngoc Tuan Anh <notifications@github.com>
wrote:

[2016-05-17 03:04] #587 closed

[2016-05-17 03:04] rilwis commented on #448
Hi @jjhesk, I've just added a fix for refresh map when drag and drop meta boxes. We also had a fix for refresh map when toggle meta boxes.

[2016-05-17 03:04] #448 closed

[2016-05-17 03:22] funkedgeek commented on #638
This feature added in latest update

[2016-05-17 04:13] funkedgeek commented on #346
`refresh` function in map code should have fixed this.  Use this function with the `load` event in jQuery tabs.

[2016-05-17 04:13] #346 closed

[2016-05-17 04:45] #728 closed

[2016-05-17 04:48] flowdee commented on #863
amazing, thanks for this @rilwis ! 😄

[2016-05-17 12:52] rafasegat commented on #846
Hey

That problem is happening to my client

Constantly getting "Plugin could not be activated because it triggered a fatal error." "Fatal error: Class 'RWMB_Core' not found in /home/content/e/n/t/enterexalted/html/wp-content/plugins/reflektor-portfolio/meta-box/inc/loader.php on line 124" on different wordpress databases.

Do you know how to solve it?

Thanks
Raf

[2016-05-17 13:23] rilwis commented on #846
Can you try the latest version on Github? We've pushed some fixes for this problem here.

Best regards

[2016-05-17 17:22] tanng commented on #860
Sorry, but still doesn't works

I've made a screen cast for more detail
http://recordit.co/xnrNf4sUbG

[2016-05-17 22:14] mike-church opened #864 "How do you display an image on the front end using a cloned group?"
In advanced, I thank you for this plugin. It's been a life saver.

I've got a metabox group that supports a text field, image advanced field, and a wysiwyg. This group is can be cloned. I can get and display all the values on the front end except for the image field. I've searched all day through the support site, documentation, and google and can't find a solution. I hope you can help. This is th

[2016-05-18 02:11] rilwis commented on #860
Hmm, here is my test http://recordit.co/WHSs33krqa, it looks fine. Can you please test with the latest version of both Meta Box (on Github) and Group extension?

[2016-05-18 02:17] rilwis commented on #864
Thanks for your question.

The helper function doesn't return full info for images in a group as it does for normal fields. We have to do a little work for that. Here is how to get more info about the image:

[code]

[2016-05-18 03:19] tanng commented on #860
Ok, it works with the latest Group version.

[2016-05-18 03:19] #860 closed

[2016-05-18 03:30] rilwis commented on #858
Hi @wgstjf, can you help me?

[2016-05-18 03:39] rilwis commented on #687
Hi @henkkah, sorry to get back late. Can you please update to the latest version of both Meta Box and WooCommerce? I've just tested with WooCommerce and looks like it removed the `woo_main_before` hook. So I changed it to `the_content` and it works to me.

[2016-05-18 03:41] rilwis commented on #721
Hi @MikevHoenselaar, @Bausen. Can you please update to the latest version on Github and let us know if you still see the bug? Thanks a lot!

[2016-05-18 03:51] rilwis commented on #666
Hi @jkruger,

I've just tested again with group id begins with an underscore.  Here is my code:

[code]

Here is how it looks:

http://prntscr.com/b5dfpo

Can you please try again with the latest version of both Meta Box and Group and let me know if you still see the bug? Thanks!

[2016-05-18 09:19] wgstjf commented on #858
Ok...figuring this out...

The situation is as follows: I have a kind of page builder (built using Meta Box) and for a certain template the user is able to over-ride a default image by uploading a different one.  The field to over-ride the default is an image_advanced field within a cloneable group.  The default image comes from a custom field in a different CPT and in this case the image_advanced

[2016-05-18 12:08] funkedgeek commented on #858
Probably related to https://github.com/rilwis/meta-box/issues/864

[2016-05-18 13:02] mike-church commented on #864
Works perfectly. Thank you so much!

[2016-05-18 13:02] #864 closed

[2016-05-18 13:38] funkedgeek commented on #858
Solution is here: https://github.com/rilwis/meta-box/issues/864#issuecomment-219907480

[2016-05-18 15:52] wgstjf commented on #858
@funkedgeek thanks for that and yes it does work.

My issue is that there seems to be a difference between the way the live version of Meta Box works and the way the dev version works which is going to cause backwards compatibility issues :-)

[2016-05-18 22:09] Nicholas-Cardot opened #865 "Validation Conflict with non-RWMB Meta Fields"
I'm getting several reports that since we upgraded to the most recent version of RWMB, several users are getting validation messages for other meta plugins.

For example, one user is describing the fact that every time they try to update a post, they get a validation error on the numeric fields from ACF, but only when this is present.

I have another user who is seeing a numeric validation error o

[2016-05-18 23:18] Nicholas-Cardot commented on #865
Testing with ACF:

If I delete everything from inside the validate.js folder the conflict immediately goes away.

[2016-05-18 23:23] Nicholas-Cardot commented on #865
Changing:

`var $form = $( '#post' ),`

To:

`var $form = $('#post #My_Meta_Box_ID'), `

Eliminates the conflict as well. So something is clearly allowing the validation rules from this plugin to target every field on the page using the rules of this plugin. Thoughts?

[2016-05-18 23:49] funkedgeek commented on #865
I'll look up the validation code and make it more precise

On Wed, May 18, 2016, 6:23 PM Nicholas Cardot <notifications@github.com>
wrote:

[2016-05-18 23:52] Nicholas-Cardot commented on #865
Thanks @funkedgeek

This issue can easily be replicated by installing the free version of Advanced Custom Fields and creating at least 1 number custom field. Then navigate to a post and attempt to set that number field to any value other than zero and you'll see the validation message. That's what I did to replicate it so if you want to play around with it, that's probably the easiest way.

[2016-05-19 01:54] rilwis commented on #858
Oh, I see. The problem is exactly what I answered in #864. Thanks @funkedgeek to pointing it out :)

@wgstjf: We're fixing some bugs here in the development version and when it's finished, we'll push to wordpress.org (later this week or early next week). Backward compatibility is one of the most important factor to us :)

[2016-05-19 01:54] #858 closed

[2016-05-19 02:03] mmencore opened #866 "Problem with advanced-image field after reload page F5 in Firefox"
After second page reload in Firefox, attached image doesn't display. In hidden field id values reset to ""
Problem is solved by commented string in media.js > MediaField view section.
`//this.$input.val( '' );`

[2016-05-19 02:21] rilwis commented on #865
Hi @Nicholas-Cardot ,

Thanks a lot for reporting the bug. You are right about the problem that the validating JS runs for all inputs inside `#post` which includes fields from other plugins as well.

The problem is quite complicated when the Validator library requires the form to be the selector and it [queries all fields inside](https://github.com/jzaefferer/jquery-validation/blob/master/src/core

[2016-05-19 02:22] #866 closed

[2016-05-19 02:35] funkedgeek commented on #865
I'm not seeing anything specific in the code that it has to be a form element.

[2016-05-19 02:37] rilwis commented on #865
@funkedgeek It's [here](https://github.com/jzaefferer/jquery-validation/blob/master/src/core.js#L28)

[2016-05-19 02:45] funkedgeek commented on #865
aaah, the submit event

[2016-05-19 03:02] rilwis commented on #865
@@Nicholas-Cardot: Can you please test with the fix above? I tested with simple number field from ACF and it worked.

[2016-05-19 07:06] wgstjf commented on #858
Sounds great, thanks :-)

[2016-05-19 07:23] rilwis opened #867 "Add filter for user field to select which field will be displayed as select option"
We're using `display_name` to display options in the select/select advanced. It would be better if we can add a filter to allow developers to choose which field is used (first name, last name, username, etc.)

My concern is the filter should be consistent in other "object choise" fields (taxonomy, post) so it's easy to understand.

[2016-05-19 13:07] funkedgeek commented on #867
Found a place to put the filter, just have to give it a name.

[2016-05-19 14:09] Nicholas-Cardot commented on #865
@rilwis and @funkedgeek,

That fixed it right up for me. I kind of feel like a dummy. I can't believe that I didn't see that 'ignore' property sitting right there in front of my face. I was sooooooo close. lol

I believe that this is now solved and, as such, I would recommend closing this issue.

Thanks so much to both of you for you help on this!

[2016-05-19 14:13] #865 closed

[2016-05-19 18:03] Infolu opened #868 "Reporting a problem with plupload_image"
Hello I will try the best to explain the problem I found.

I have metabox with two fields map and plupload_image.

What happens are two different situations.

Suppose for some reason the api google map metabox is not loaded correctly, causes problems with plupload_image because it does not charge.

(I purposely removed loading api script google as a way to test)

The other situation is if I for so

[2016-05-19 19:13] edcousins commented on #847
Just to let you know, latest update fixed the issue - thanks.

[2016-05-20 04:26] rilwis commented on #859
It's more complicated than I think. All subfields of "input" have a sanitize method which forces us to keep their files.

[2016-05-20 08:07] MikevHoenselaar commented on #721
I updated to 4.8.6 and the problem remains :(
Editor is gone. Going back to 4.7.2 again.

[2016-05-20 12:56] funkedgeek commented on #721
Can you please post the code you are using to create the meta boxes?

[2016-05-21 09:58] Sinusite opened #870 "taxonomy with select_advanced : first option is now default value (4.8.6)"
By default, select2 take now (since 4.8.6 ?) the first option value, not the placeholder.

[code]
(no trouble with others field type as 'select')

[2016-05-23 06:52] Lugat commented on #870
We have the same issue.

[2016-05-23 11:02] bananamariap opened #871 "Fatal error: Uncaught Error: Call to undefined method RW_Meta_Box::has_been_saved()"
version: 4.8.6
when registering a metabox, I am getting the Fatal error: Uncaught Error: Call to undefined method RW_Meta_Box::has_been_saved() when the Metabox Group plugin is activated too

[2016-05-23 12:23] rilwis commented on #871
This bug happens in old version of the Group extension. Please upload to the latest version.

Best regards

[2016-05-23 14:46] bananamariap commented on #871
Thanks.

[2016-05-23 14:46] #871 closed

[2016-05-23 14:48] bananamariap opened #872 "How to override image_advanced sizes medium"
I am using the image_advanced type and setting the image size to medium instead of the default thumbnail, how can I set my custom width and height for 'medium' size?
type=image_advanced&size=medium

[2016-05-24 01:38] d2roth commented on #872
@bananamariap This is not an issue with the Meta Box plugin. The image size 'medium' is defined by WordPress itself. You will need to either modify the existing image size see notes on [add_image_size](https://developer.wordpress.org/reference/functions/add_image_size/) or you can simply add your own image size and use it's name in place of 'size=medium'.

I hope that helps.

[2016-05-24 12:47] Sinusite opened #873 "file vs file_upload on iPad"
File type is working on safari/ipad but not the file_upload (it's not possible to choose or edit a file with the modal box which is not displayed)... any chance to make it ready ?

[2016-05-24 15:28] fsp commented on #868
I've experienced the following problem using plupload_image in 4.8.5 and 4.8.6:

Uploaded images have post_parent set to 0 in wp_posts. Hence, images are not displayed when loading attachments.

Reverting to 4.8.3 fixes the problem.

[2016-05-25 02:07] rilwis commented on #873
@funkedgeek Can you please take a look? I think it might relate to JavaScript code.

[2016-05-25 03:08] funkedgeek commented on #873
Don't own an ipad so not sure how I can troubleshoot this

[2016-05-25 03:18] rilwis commented on #859
Just done this :). Now we can use all HTML5 input types such as `tel`, `datetime-local`, `week` without writing more files. All are handled by RWMB_Input_Field class automatically.

The trick here is if field class doesn't exist then use RWMB_Input_Field class.

[2016-05-25 03:19] #859 closed

[2016-05-25 04:20] rilwis commented on #870
Just fixed it :)

[2016-05-25 04:20] #870 closed

[2016-05-25 07:23] sodbileg commented on #823
I'm also having same issue. It's working fine on the localhost, however, returning only IDs on the server.

WP Version: 4.5.2
Server OS: Ubuntu 12.04.5 LTS
RWMB Version: 4.8.6

[code]

[2016-05-25 09:43] rilwis commented on #823
@sodbileg: Please just remove the `multiple=true` param. That breaks the code :)

[2016-05-25 09:46] sodbileg commented on #823
@rilwis Thanks so much. It worked great :)

[2016-05-25 19:29] d2roth opened #874 "You can select more items than max_file_uploads"
In the Media Gallery popup you can select more items than the limit set by max_file_uploads, though they do not get outputted to the screen after pressing "Select".

To reproduce:
1. Create a new file and set `'max_file_uploads'	 => 1,`
2. Press "Add Media"
3. Select multiple items using "CTRL + Click" and you will see they each get the selected box around them.

I do not know if you guys can fix

[2016-05-25 19:54] ryanlabelle commented on #870
Awesome! Thank you for the fix. I just tested and it resolved the issue on my local install. Cheers!

[2016-05-25 20:42] andrewfrankel opened #875 "image advanced field within clone group index off by 1"
**Summary**

When using a cloned group containing an image_advanced field any newly added images have an index value that is one less than is correct. This results in the first newly added image to disappear after save since it's value is tacked onto the previous item in the cloned set.

**Example Data**

Initially created input after clicking 'add more' is correct (index 2):
`<input disabled="" c

[2016-05-26 01:16] rilwis commented on #823
I will close this issue. If there is any problem, please just reopen this. Thanks :)

[2016-05-26 01:16] #823 closed

[2016-05-26 03:05] funkedgeek commented on #875
I'm assuming you are using groups?

[2016-05-26 03:08] funkedgeek commented on #874
But the files don't get selected as part of the field.  The code filters out the extra ones, so I don't see an issue.

[2016-05-26 03:30] andrewfrankel commented on #875
@funkedgeek, correct. The groups generally work as expected, but (at least) image file types cause this index problem.

[2016-05-26 04:10] #666 closed

[2016-05-26 04:10] #687 closed

[2016-05-26 04:14] rilwis commented on #874
Yes, @funkedgeek is right. There should be no problems with that.

[2016-05-26 04:14] #874 closed

[2016-05-26 04:54] d2roth commented on #874
The issue is the user experience. I think of it just if you were setting a featured image and you were able to pick 5 images but then mysteriously 4 of them disappeared it would be confusing I believe.

[2016-05-26 05:06] funkedgeek commented on #874
That's why the default for limited media fields is to have the status
counter, to visually let them know they can only select n out of x files
On Wed, May 25, 2016 at 11:54 PM d2roth <notifications@github.com> wrote:

[2016-05-26 05:27] rilwis commented on #874
@d2roth Let us see if we can improve that for better UX :)

[2016-05-26 18:22] andrewfrankel commented on #875
@rilwis, some additional info, that might be related. Had another bug with a color field contained within a cloned group. When you click the 'add more' button the color selector doesn't appear in the newly created group. Works fine using a text field type, or if the color field is standalone (not in a group). Let me know if you need any additional data.

## Color field in clone group - broken
<img

[2016-05-26 20:36] Infolu commented on #868
Hi fsp with the new version 4.8.6 the f5 problem in firefox is resolved.

Only the case of problem does not load the api google maps leading to not caregamento the upload box see the print below

http://imgur.com/vVr0RmC

simulation environment

wampserver + Wordpress 4.8.6 updated + metabox with boxes created maps and upload image.

If they are to pergutando because wampserver only for the purpos

[2016-05-26 20:53] Infolu opened #876 "Limit gallery of images display"
Staff wordpress default gallery to limit the number of images to display. with args numberpost

Example
`<?php
	$images = get_children( array( 'post_parent' => $post->ID, 'post_type' => 'attachment', 'post_mime_type' => 'image', 'orderby' => 'menu_order', 'order' => 'ASC', 'numberposts' => 5 ) );
	if ( $images ) :
		$total_images = count( $images );
		$image = array_shift( $images );
		$image_img_

[2016-05-26 21:03] ryanlabelle commented on #870
One question, how often do you update the wp repo? Right now I'm asking people using our themes to patch via github. No pressure. Thanks.

[2016-05-26 23:46] rilwis commented on #870
We usually update the wp repo once a month when we resolve all the issues we're working on.

Best regards

[2016-05-27 03:20] rilwis commented on #875
I see the bug. I'm working on it now.

[2016-05-27 04:39] rilwis commented on #875
@andrewfrankel Just pushed a fix for image_advanced and color field. Color still requires the Group extension to update.

[2016-05-27 04:46] rilwis commented on #867
Do you think `rwmb_object_label` is a good name?

[2016-05-27 04:59] rilwis commented on #876
Just add `limit` param to the helper function for both file and image fields, please try:

[code]

[2016-05-27 09:55] Sinusite opened #877 "Select default option with taxonomy field"
We can't select an option by default with type'   => 'taxonomy' ?

[code]

Thx

[2016-05-27 10:32] wgstjf opened #878 "Meta Box within custom plugin"
Hi there,

I am trying to integrate MB into a custom plugin I am building.  The plugin introduces a new CPT (called Events, registered as 'event').  The CPT shows as it should but the metaboxes are not visible nor is the postbox-container html created.

I am using the same code from the mb-settings-page to initiate the custom plugin and ensure that Meta Box has been loaded as shown below:

[code]

[2016-05-27 11:30] wgstjf commented on #878
Forgot to add that my custom theme also registers and uses meta boxes :-)

[2016-05-27 11:39] wgstjf commented on #878
OK an update - If I disable the theme metaboxes by commenting out the following line in my theme functions.php
[code]
then my plugin metaboxes work...the question therefore is how can I have independent metabox configurations for both the plugin and the theme that both work and don't override each other?

Cheers,

Will

[2016-05-27 11:39] Infolu commented on #876
Hello Rilwis, thanks for always answer, I as follows below however worked did something wrong? it keeps bringing me all images instead of a single image

`$images = rwmb_meta( 'media_gallery_img', 'size=SIZE&limit=1' ); // Prior to 4.8.0
if ( !empty( $images ) ) {
    foreach ( $images as $image ) {
        echo "<a href='{$image['full_url']}' rel='lightbox'><img src='{$image['url']}' width='{$ima

[2016-05-27 11:42] funkedgeek commented on #876
He just added the update, so update the plugin from GitHub

On Fri, May 27, 2016 at 6:39 AM Infolu <notifications@github.com> wrote:

[2016-05-27 11:44] wgstjf commented on #878
Figured it out :-)

By registering the theme metaboxes like this:
[code]
and then modifying the plugin ones to be registered like this it works!

[code]

[2016-05-27 12:06] Infolu commented on #876
Hi @funkedgeek,  I saw that was added to the file file.php that limit could be added to type: image, type: image_advanced, type: plupload_image, type: image_upload, type: thickbox_image.

[2016-05-27 13:39] andrewfrankel commented on #875
@rilwis, thanks for the very quick turnaround! I integrated the latest commits and image_advanced is now working as expected.

When do you anticipate pushing the group extensions changes? Will the update be available in my account downloads section, or is there a better place to retrieve the latest version of extensions?

Really **great** plugin, and support! Very likely my new go to, for custom f

[2016-05-27 15:59] andrewfrankel opened #879 "checkbox_list not displaying labels correctly"
**Setup example**
[code]

**In choice.php get_options, the values are correct:**
[code]

**By the time it gets to RWMB_Input_List_Walker start_el, the label is set to 'label'**
[code]

**Screenshot:**
<img width="528" alt="screen shot 2016-05-27 at 9 57 51 am" src="https://cloud.githubusercontent.com/assets/1470345/15613618/8492ee84-23f1-11e6-8014-a2b024d7d8ee.png">

Haven't had a chance to trace

[2016-05-27 16:54] teaganm commented on #870
If it's at all possible to have a new release sooner than that it would be great. We have a significant number of customers using our products that are currently experiencing this issue. If not, we can work around it for now.

[2016-05-27 17:41] alexvpoirier opened #880 "Can't clone groups in 4.8.6"
Hi,

Whenever I try to clone groups with 4.8.6, only the last one will save.

Works fine with 4.8.5 and older.

[2016-05-27 18:02] ryanlabelle commented on #879
Same goes for Advance Select :)

http://new.tinygrab.com/6407caa59e964cf53a3f1b1036f606f0af9f648466.png

[2016-05-27 18:04] ryanlabelle commented on #879
Pretty much any label, radio, select..

http://new.tinygrab.com/6407caa59ee799b1bf79be5e866bec55896164fe75.png

[2016-05-27 18:19] funkedgeek commented on #879
Fixed in https://github.com/rilwis/meta-box/commit/52cda628c80d5653e550de54a8028e273575dbbd

[2016-05-27 18:19] #879 closed

[2016-05-27 18:24] andrewfrankel commented on #879
@funkedgeek, as always, thanks!

[2016-05-28 06:35] atashinbar opened #881 "HI there,"

[2016-05-28 06:35] #881 closed

[2016-05-28 11:27] #867 closed

[2016-05-28 11:31] #878 closed

[2016-05-28 12:45] funkedgeek commented on #880
Have you upgraded the groups plugin?

[2016-05-28 12:48] funkedgeek commented on #174
This is now possible with the edit modal built into media fields

[2016-05-28 12:48] #174 closed

[2016-05-29 01:09] trueman61 opened #882 "Oembed Not Showing?"
Hi. Oembed not showing front page. Show (youtube link)?

[2016-05-29 06:41] atashinbar opened #883 "meta data issue"
With your plugin, we have created some options for our pages to let user on/off header or footer but when we import WordPress own dummy into https://wpcomthemes.svn.automattic.com/demo/theme-unit-test-data.xml footer and header option stays on “off” by default and it does not load unless we click on “update” button in edit page. Although when we manually make it “on” and then click on “update” but

[2016-05-29 12:12] rilwis opened #884 "Consider making helper function work with more tag, nexpage tag for WYSIWYG field"
Some users request this.

[2016-05-29 12:52] rilwis commented on #875
@andrewfrankel : We're working very hard on the Meta Box plugin and there're many changes we've just made (most on coding quality improvements). We need time to test it carefully before releasing. Until then, I can release the new version for Group extension, because it depends on changes of Meta Box (if I release now, users update it and will see the error).

Anyway, I've just sent you an email w

[2016-05-29 12:53] #875 closed

[2016-05-29 13:04] rilwis commented on #876
It's inherited from file to all image files ;)

[2016-05-29 13:05] rilwis commented on #878
Thanks Will to figure it out. It's always a best option to just register the meta boxes using `rwmb_meta_boxes` without wrapping it inside any function. The filter is called only when needed and doesn't impact on the performance.

[2016-05-29 14:04] andrewfrankel commented on #875
Thanks! That worked.

On Sun, May 29, 2016 at 6:53 AM Tran Ngoc Tuan Anh <notifications@github.com>
wrote:

[2016-05-29 14:08] Sinusite opened #885 "users fields : get_users() vs WP_User_Query"
[get_users()](https://codex.wordpress.org/Function_Reference/get_users) is used by user field.

Maybe it's better to use [WP_User_Query](https://codex.wordpress.org/Class_Reference/WP_User_Query).  it's more extensible.
For instance we could choose multiple roles ('role__in' =>	array( 'role_one', 'role_two' ),) , not only one ( with 'query_args'  => array() ) .

Regards

[2016-05-29 16:58] Sinusite commented on #873
Hi, no need to have an iPad, you can use Safari browser.
Under Developpement > User Agent > Safari iOs Ipad.
or You can [flollow this](https://blog.idrsolutions.com/2015/02/remote-debugging-ios-safari-on-os-x-windows-and-linux/).

...Not a real success with me :)

[2016-05-30 00:57] Infolu commented on #876
Hello @rilwis  unfortunately for me it did not work, even using the latest version of metabox
follows the code I'm using, I still can not limit the display
`<?php
$images = rwmb_meta( 'media_gallery_img', 'type=image&size=YOURSIZE&limit=1' ); // Prior to 4.8.0
if ( !empty( $images ) ) {
    foreach ( $images as $image ) {
        echo "<a href='{$image['full_url']}' rel='lightbox'><img src='{$imag

[2016-05-30 04:01] funkedgeek commented on #885
Fixed in https://github.com/rilwis/meta-box/commit/0c0bb959982d7ca7ac5d9f284ad8882aff74ba8c

[2016-05-30 04:01] #885 closed

[2016-05-30 04:10] funkedgeek commented on #873
I'm on PC

[2016-05-30 17:51] wagg-matt opened #886 "Upgraded to 4.8.6 and now my images have disappeared"
Hi,

I had a lot of images displaying on my homepage, now none of them are displaying. `I would have added this to the support forum but I could not see anywhere to add a new ticket.`

I am also using metabox group 1.1.1, below is an example of a custom post type and it's template file. All of this was working correctly before the upgrade. Post type:

[code]

**Template file:**

[code]

I updated

[2016-05-31 11:20] funkedgeek commented on #886
Please make sure the group field is up to date

[2016-05-31 11:35] wagg-matt commented on #886
@funkedgeek it is, I updated them both at the same time so I am currently running meta-box 4.8.6 and meta-box group 1.1.1.

All images in a group are displaying, the ones that are not have completely disappeared. If I just print the meta value inside a `foreach` loop as follows:

`<?php print rwmb_meta('unveil_artist_artist-image'); ?>` it displays `Array` instead of the ID.

This one's baffled me

[2016-05-31 13:56] funkedgeek commented on #877
std only works on new posts that haven't been saved yet.  This is true for all fields.

[2016-05-31 14:36] owiekindisch opened #887 "Meta Box Group: Nested Cloning increase index of parent group field."
Nested Cloning increase index of parent group field.

Setup:
[code]

If you clone the parent three times and then try to clone the 'first' field in the second Group-Clone,
the indexes increase for level 1. So the group-clone function is not save for just updating nested cloning fields.

To prevent this you need to add in line 21 of group.js

[code]

Sorry, but this script-kiddie mistake is not acc

[2016-05-31 17:05] rilwis opened #888 "Problem with Polylang and image advanced"
**Problem:**

In Polylang:

- create a post (A) in a language with a meta field image_advanced (IMG)
- select some image for image advanced field
- translate post A into another language (post B)

The problem is uploaded images (IMG) are not copied to B. Other field types are copied properly.

**Solution**:

After diving into the problem, I see that:

- Image advanced use Backbone Collection which

[2016-05-31 17:12] rilwis commented on #887
Hi @owiekindisch ,

Which version of Group extension are you using? It's very strange to insert those code in line 21

http://prntscr.com/baoidz

[2016-05-31 17:20] rilwis commented on #886
@wagg-matt: I see some issues in the code, can you please fix them and let me know if the problem is resolved:

1. There is no use of Group extension in the code, so the warning must come from elsewhere. Please post that code and full warning (including the line number) for me to check.
1. In the `foreach` loop, I see you use `rwmb_meta` for image field. As this is a normal image field (not inside

[2016-05-31 17:23] rilwis commented on #883
Hi, can you please post the code you used to register meta box and fields?

[2016-05-31 17:42] owiekindisch commented on #887
I'm sorry, I mean between line 19 and 20 to avoid the miss behaviour, that the index gets increased before the replacement function is called. Otherwise the nested cloned group file will have the name `my_group[2][first][1]` instead of `my_group[1][first][1]`

[2016-05-31 17:43] owiekindisch commented on #887
I'm sorry, I mean between line 19 and 20 to avoid the miss behaviour, that the index gets increased before the replacement function is called. Otherwise the nested cloned group file will have the name my_group[2][first][1] instead of my_group[1][first][1]

[2016-05-31 18:44] wagg-matt commented on #886
@rilwis Thanks for getting back to me.

http://dev-unveiluk.pantheonsite.io/ is the dev site, with an older version of metabox and metabox group working. The above code is the one working for the artists section and was fine before the upgrade.

After the upgrade, I am not seeing any errors but my images are now not displaying.

One using group is below:
[code]

**Section of template file using gr

[2016-05-31 20:10] owiekindisch opened #889 "select_advanced: Selects automatically the first option instead of using the defined placeholder"
Setup:
[code]
The error lays in `inc/fields/select.php`. If I c/p the code of the previous version, it works.

[2016-06-01 03:55] funkedgeek commented on #888
Good question is why Polylang does this.  My code uses similar code to what WP uses for their media modals

[2016-06-01 04:04] funkedgeek commented on #889
I'm using the latest version from the Github and the placeholder is working fine.  Please update from the Github version, because I think we fixed this in a previous commit

[2016-06-01 07:45] atashinbar commented on #883
Hi there,
It is my backend code:
`add_filter( 'rwmb_meta_boxes', 'test_meta_boxes' );
function test_meta_boxes( $meta_boxes ) {
	$meta_boxes[] = array(
		'title'			=> esc_attr__( 'test Page Options', 'test' ),
		'post_types'	=> 'page',
		'fields'		=> array(
			array(
				'id'	=> 'test_topbar_show',
				'name'	=> esc_attr__( 'Show Topbar', 'test' ),
				'type'	=> 'checkbox',
				'std'	=> 1,
			),

[2016-06-01 09:23] edcousins opened #890 "Parse error: syntax error, unexpected '&' in /meta-box/inc/fields/choice.php on line 99"
Hey guys,

Got a few customers who have this issue after updating to 4.8.6. One of which has PHP 5.4.45. Any ideas on a resolution?

[2016-06-01 10:22] rilwis commented on #890
This is fixed in commit  3a16744

[2016-06-01 10:22] #890 closed

[2016-06-01 10:23] rilwis commented on #889
We fixed it in #870

[2016-06-01 10:23] #889 closed

[2016-06-01 10:24] rilwis commented on #888
@funkedgeek They store multilingual posts in the same table as normal posts. So they need a filter to split them out for each language. I just don't know why they apply to all things, including media files.

[2016-06-01 10:25] edcousins commented on #890
Thanks!

[2016-06-01 15:07] rilwis opened #891 "Add option to disable validation when saving draft"
Some users have requested disable the validation when saving draft. I think we should do this :)

[2016-06-01 15:34] funkedgeek commented on #888
https://wordpress.org/support/topic/polylang-makes-media-vanish-in-library?replies=6

There is an option in Polylang to prevent this.  Basically the media gets set languages as well, so if you switch languages you don't see the media unless you translate them or turn off the feature for media.  It would do the same thing even if we weren't using JavaScript

[2016-06-02 01:09] rilwis commented on #888
Thanks a lot for the link.

Yes, I think we're fine with this :)

[2016-06-02 01:09] #888 closed

[2016-06-02 02:31] rilwis commented on #887
@owiekindisch Thanks a lot!

I've tried your patch but it doesn't work well in all cases. So I made a patch here http://pastebin.com/YhzB331K. Can you please try it?

[2016-06-02 03:04] rilwis commented on #876
Just fixed that. Please try again :)

[2016-06-02 03:12] rilwis commented on #886
I see. The problem is the returned value of images in the group is **always** array. So you just need to update your code to this:

[code]

That's all :)

[2016-06-02 03:19] rilwis commented on #883
I've just tested the code and I see the backend works correctly. That means the value is saved correctly.

In the frontend: please make sure that you don't change the global object `$post`, because the function `rwmb_meta` get the post meta from the **current post** in the loop. So if you modified the query, you should reset it using `wp_reset_postdata`.

PS: I see you use `$post` object directly.

[2016-06-02 13:11] wagg-matt commented on #886
Hi @rilwis, thanks for getting back to me again.

The group images work fine, so will leave those alone for the time being, however, I have managed to get it working now after a bit of experimenting:

[code]

It's just a big change in syntax to how it was working before.

@rilwis @funkedgeek thanks for your help with this, much appreciated.

Would be happy to help with docs to show a more in depth

[2016-06-03 00:42] WPThemer commented on #844
hi.. I dont want to upgrade at this stage, can you please tell me which file the changes were made so I can copy them.. thanks

[2016-06-03 01:39] rilwis commented on #886
@wagg-matt Glad that you made it. I'll add more examples to the docs :) Thanks for the suggestion.

[2016-06-03 01:39] #886 closed

[2016-06-03 01:41] rilwis commented on #844
@WPThemer lots of files have changed since April. You can wait to update to the 4.8.7 version which will be released today :)

[2016-06-03 01:52] Infolu commented on #876
Good, working perfectly, thanks

[2016-06-03 01:52] #876 closed

[2016-06-03 11:34] funkedgeek commented on #882
Can you post the code that you are using?

[2016-06-03 11:56] funkedgeek commented on #557
You can easily create select fields that let you select those options and putr them in a group

[2016-06-03 11:56] #557 closed

[2016-06-03 12:01] funkedgeek commented on #561
Currently autosaves happen ever 60 seconds so if you set your meta box to `autosave = true`, your meta will be saved every 60 seconds.

[2016-06-03 12:01] #561 closed

[2016-06-03 12:18] funkedgeek commented on #791
This is just how select2 works; it follows how the options are ordered in the select, not how you select them.  It would work the same if you used a regular select as well

[2016-06-03 12:18] #791 closed

[2016-06-03 12:23] funkedgeek commented on #670
This could help: http://wordpress.stackexchange.com/questions/36600/how-can-i-put-a-custom-meta-box-above-the-editor-but-below-the-title-section-on

[2016-06-04 07:18] #670 closed

[2016-06-05 16:05] Sinusite opened #892 "File type & max_file_uploads : only the first is saved."
With metabox 4.8.7, only the first file is saved :
[code]

[2016-06-05 16:22] Sinusite commented on #892
OK forget it... it seems not working for "big" files (6mo) ?....

[2016-06-05 16:22] #892 closed

[2016-06-06 01:31] rilwis commented on #892
@Sinusite: I think your host limits the max upload size. Most hosts accept max upload size 2MB. Please try to increase it in the php.ini or .htaccess file.

[2016-06-06 01:33] #887 closed

[2016-06-06 01:34] rilwis commented on #887
FYI, the fix is added to the latest version of the Group extension. Please update it.

[2016-06-06 01:42] rilwis commented on #880
@alexvpoirier: Please update to the latest version and try again. Make sure you clear the cache to load the latest version of the JavaScript file :)

[2016-06-06 01:45] #880 closed

[2016-06-06 05:45] atashinbar commented on #883
To clarify the situation I’ve prepared a file and put “functions.php” and “header.php” inside of it. After installing 2016 theme and putting attached files instead of related theme files on a fresh WordPress, if you review “sample.php” page it comes without header but if you enter to page edit and click on update the header appears.
[functions.txt](https://github.com/rilwis/meta-box/files/299805/f

[2016-06-06 11:19] calpaq opened #893 "Field type clone is not working"
Hi am trying to write a plugin using meta box and I just started with your example
I have installed metabox  4.8.7 plugin on wordpress 4.5.2 (latest) only wordpress & metabox

1) Add new Page
2) It shows me a single field below Album Tracks, displays sort icon, displays add more button and when I add more fields and updates it displays me a single field and a single value in last instance or combi

[2016-06-06 21:09] tomcat90 opened #894 "rwmb_meta_boxes called before init"
It seems like recently this has changed. We are using get_post_types() to filter out certain posts types for the metaboxes and recently this stopped working because the metaboxes are being called before the init hook that registers the custom posts

[2016-06-06 21:11] tomcat90 commented on #894
Nevermind. It was a bad call on our part

[2016-06-06 21:11] #894 closed

[2016-06-07 06:04] rilwis commented on #631
This is done as a standalone plugin here https://github.com/rilwis/mb-rest-api. Will be soon available on WordPress.org.

[2016-06-07 06:04] #631 closed

[2016-06-07 06:04] rilwis commented on #716
This is done as a standalone plugin here https://github.com/rilwis/mb-rest-api. Will be soon available on WordPress.org.

[2016-06-07 06:04] #716 closed

[2016-06-08 17:54] andrewfrankel opened #895 "file_advanced clone index off by 1"
This is similar to the issue found at #875 but when using file_advanced fields. FWIW the placeholder disabled input field upon cloning appears to have the correct index, it only becomes a problem once you add the file and the hidden input containing the file id has the wrong index.

Duplicate values:
[code]

[2016-06-08 19:29] nickrttn opened #896 "Use Geolocation with Groups plugin"
If I define an address Metabox using the Group addon, I would like to be able to add multiple addresses. Right now, if I try that, the Geolocation autofill fills in *all* of the address groups with the information. The lookup also only works in the first autofill field of the address groups.

[2016-06-08 20:06] Infolu opened #897 "Select empty tree for taxonomy"
Hello I noticed that if I have a tree to select a taxonomy, and this taxonomy has no registered term, it generates Algus errors in wordpress as below.

A note the error code below, this on a local server, put on a cpanel server also returns the same error logs.

==========================================
`{main}() C:\wamp\www\natalimoveis\wp-admin\post-new.php:0

[08-Jun-2016 18:41:31 UTC] PHP   2

[2016-06-09 16:04] karissademi opened #898 "Date field defaults to non-english language"
Not an issue, but an FYI. After the last update (4.8.7) if you aren't specifying the language field for date pickers, it will default to an non-english language.

Easy to change by either resetting the language field or specifying your own.

All datepickers:
`$.datepicker.setDefaults( $.datepicker.regional[ "" ] );`

Targeting meta-box:
`$('.rwmb-date').val( $.datepicker.setDefaults( $.datepicker.

[2016-06-10 12:30] Infolu opened #899 "Max File Upload plupload"
Hello I used plupload_image with the function 'max_file_uploads' => 10, however I noticed that even limiting the charging box 10 files, if I try to climb more than 10 files these files are loaded into wp-content / uploads.

That is no matter how many files I limit with max_file_uploads the box allows you to upload as many medias like leaving the wp-content folder / upload over loaded with useless

[2016-06-10 15:34] RedGlow opened #900 "Metabox and page templates"
Currently metaboxes can be added to pages. It would be nice to have the option to add metaboxes only to certain page templates.

An use case of this scenario would for example be an about page which can have social media links, a map, and so on.

A similar feature, which is also much more articulated, is given by Advanced Custom Fields: https://www.advancedcustomfields.com/resources/custom-locatio

[2016-06-11 06:39] rilwis commented on #899
The plugin limits the maximum number of files to be uploaded **and** added to the post meta. It doesn't limits the upload to the Media Library (because users still can upload as many files as they want at **Media > Upload** page, it doesn't make sense to restrict here).

[2016-06-11 06:39] #899 closed

[2016-06-11 06:41] rilwis commented on #900
Hi,

This is can be done using the snippet [here](https://github.com/rilwis/meta-box/blob/master/demo/include-by-ID-or-page-template.php) or [here](https://github.com/rilwis/meta-box/blob/master/demo/better-include.php).

If you need more options/controls, please consider [this premium extension](https://metabox.io/plugins/meta-box-include-exclude/).

[2016-06-11 06:41] #900 closed

[2016-06-11 14:27] aerlaut opened #901 "Metabox resetting $post->ID?"
I'm using metabox in a custom loop like so :

[code]

There are currently 2 dummy posts with ID and data :
[code]

Output is like :
[code]

Expected :
[code]

So somehow the global $posts is overwritten when calling `rwmb_meta('profile_name')` for the first time. Aside from using MetaBox (v 4.8.7), I'm also using Polylang (v 1.9.2, https://polylang.wordpress.com/).

Help?

[2016-06-11 15:02] aerlaut commented on #901
Retreiving metadata set using metabox using `get_post_meta()` works fine,

[2016-06-11 15:25] rilwis commented on #901
Did you have `global $post;` in your code?

[2016-06-11 15:39] aerlaut commented on #901
No, I'm not using `global $post` anywhere,

[2016-06-11 16:32] rilwis commented on #901
Please add that to the code. It makes sure you're working on the global `$post` object with `rwmb_meta`.

[2016-06-12 02:46] aerlaut commented on #901
Adding `global $post` in the loop fixes the issue :)

[2016-06-12 02:46] #901 closed

[2016-06-13 11:11] jdivins opened #902 "Multilingual site image_advanced problem polylang"
I use metabox.io to generate my custom fields.
I have generated this one:
[code]
When I try to generate the translation page with polylang I don't get the images inside the gallery created on the default language.
I have another field that it's correctly syncronized, but is of type text:
[code]
Maybe the type of field is not supported by polylang?
I have searched the action of sync when translate

[2016-06-13 11:59] #834 closed

[2016-06-14 03:21] funkedgeek commented on #902
Probably related to https://github.com/rilwis/meta-box/issues/888.  Please read https://github.com/rilwis/meta-box/issues/888#issuecomment-223031797

[2016-06-14 07:18] jdivins commented on #902
Yeah!
Is the same problem, thank you for the reply! The solution on the #888 post solved the problem.
Thank you!

[2016-06-14 12:56] #902 closed

[2016-06-14 21:52] owiekindisch opened #903 "Filter meta of field_id (Meta Box)"
Version 4.8.7
--

Most of the filter hooks that are declared in the documentation aren't in code or won't execute.

For example: [rwmb_{$field_type}_meta](https://metabox.io/docs/filters/#section-rwmb_field_id_meta).
After sniffing through your code there is no such filter.

After looking deeper, found out that the filter `rwmb_{$field_type}_meta` is actually called `rwmb_{$field_type}_field_meta`

[2016-06-15 03:03] rilwis commented on #903
You're right! That was my mistake. The documentation is updated. Thank you very much :)

[2016-06-15 03:03] #903 closed

[2016-06-16 08:57] tvad911 opened #904 "Eror when using meta box show Custom Field on Sidebar ò"

[2016-06-16 09:02] tvad911 opened #905 "Eror when using meta box show Custom Field on Sidebar of Admin Panel"
I have the same issues with #305 https://github.com/rilwis/meta-box/issues/305...
When i use the code :

[code]

But the daily_contact_status_metabox not in the sidebar.
I try test the code in #305 issuse but it's not work.

Hope you watch and fixed him ...

[2016-06-17 12:10] funkedgeek commented on #905
What is the post type?

[2016-06-17 12:10] #904 closed

[2016-06-20 02:30] tvad911 commented on #905
@funkedgeek
I'm create a new post_type and using it's on a class, all code it's work but meta field can not using option "'context'    => 'side'"....
I try using funtion add_meta_box it's work ... But in this plugin it's not working, something wrong...

[2016-06-20 03:24] rilwis commented on #905
@tvad911: Have you ever reordered meta boxes (drag and drop)? FYI, if you reordered meta boxes, then WordPress would remembers the position of all meta boxes and thus the `context` parameter won't be applied.

[2016-06-20 08:31] cedric-dagherir opened #906 "Term meta disappeared"
Wordpress : 4.5.2
Metabox : 4.8.7
MB Term meta : 1.0.0
Metabox Group : 1.0.6

After updating Wordpress to 4.5.2, I can't see the meta of my taxonomy anymore. Nothing in the HTML output code of the admin page. Neither warning, nor error with WP debug mode.

Code extracts :
[code]
[code]

Thanks for your help !

[2016-06-21 08:16] #905 closed

[2016-06-23 20:13] mparman6 opened #907 "Validation doesn't work on Cloned Groups"
Hello,

I have a metabox feature that allows the user to enter a "note" along with a "date", and I then sort these "notes" by their date and display on the front end.

Problem:
On the WordPress admin, when the user is inputing a "note" and "date" into the metabox fields, the input for the date can be "hacked" by typing in different numbers than the datepicker renders. THIS BREAKS MY SORTING FEATUR

[2016-06-24 16:37] enummela opened #908 "Cloned Group Field Uses Same Input Name as Existing Field"
When cloning a group meta-box field, we were experiencing an issue where only one of the cloned fields was being saved, any additional cloned fields were not. Upon investigating the form inputs, I discovered that the cloned fields were being given the same name as existing fields, in this case the same index into an array (see attached screenshot). This explains why only one of the cloned fields w

[2016-06-24 18:50] toshimichimiki commented on #906
Same issue is occuring to me.
My dev environment is below.
Wordpress: 4.5.3
Meta Box: 4.8.7
MB Term meta : 1.0.0

[2016-06-24 22:07] rilwis commented on #906
Please update to the latest version of the extension which fixes this bug.

[2016-06-24 22:14] rilwis commented on #908
Please update the Group extension to the latest version and try again. Make sure you clear the cache!

Related issue: #880, #875.

[2016-06-25 14:39] Sinusite opened #909 "Google Map key is now required !"
Please note that ?sensor=false is useless but...

Google[ no longer support keyless access](http://googlegeodevelopers.blogspot.fr/2016/06/building-for-scale-updates-to-google.html) (any request that doesn't include an API key) !

[2016-06-26 15:30] Infolu commented on #909
Hi, I have the same problem here no map loads
someone already has a solution?
![erro maps](https://cloud.githubusercontent.com/assets/16593922/16363206/ba9333e4-3b99-11e6-9186-59079c7a176e.PNG)

[2016-06-26 16:48] waqasriaz opened #910 "Map address not working, it on some servers but not work on some"
Hi,
I am using metabox plugin for my clients but map address field working for some clients but not working for some. Here is video https://monosnap.com/file/0lZsmD8SStIVXbaEIXbqE05yQNU6ey
Can you guy help to solve it ASAP ?

[2016-06-27 07:54] cedric-dagherir commented on #906
Thanks Rilwis. But the latest version of MB Term Meta I can download is the 1.0.0...

[2016-06-28 04:03] spllogics opened #911 "Term Meta Plugin"
Trying to get term meta boxes to work, but even with copy and pasting the original demo.php (https://gist.github.com/rilwis/689edb31a456419e02b0#file-demo-php) I do not get any meta boxes for the category or term.

WP Version 4.5.3
MB Version 4.8.7
MB Term Meta Version 1.0.2

[code]

[2016-06-28 09:52] dacmail commented on #562
How do you fix it?

[2016-06-28 12:42] funkedgeek commented on #910
Can you post the code you are using to create the meta box?

[2016-06-28 12:43] funkedgeek commented on #909
Thanks for letting us know.  We'll work on it

[2016-06-28 12:46] funkedgeek commented on #897
Fixed in https://github.com/rilwis/meta-box/commit/7c33d78c4c1356b43f723599c9202a9f56aa1a22

[2016-06-28 12:46] #897 closed

[2016-06-28 13:09] ibaianater commented on #909
This is a quick fix till they fix it :)

change this url (2 urls)
https://maps.google.com/maps/api/js?sensor=false
on this file
meta-box/inc\fields/map.php
with
https://maps.google.com/maps/api/js?sensor=false&key=YOUR_API_KEY
you can get your api key from here
https://developers.google.com/maps/documentation/javascript/get-api-key

it works fine with me.

[2016-06-28 16:12] rilwis commented on #911
Do you have the taxonomy `collections'?

[2016-06-28 16:49] spllogics commented on #911
Yes. I have even tried it with "category" with no results. This is also a fresh install.
Other plugins are Custom Post Type UI, MB Admin Columns, Meta Box Builder, Meta Box Columns, Meta Box Updater.

name: collections
label: Collections
singular_label: Collection
description:
public: true
hierarchical: true
show_ui: true
query_var: true
query_var_slug:
rewrite: true
rewrite_slug:
rewrite_withfron

[2016-06-28 19:40] marcc3d opened #912 "image_advanced only shows one image, no matter how many images is defined in max_file_uploads setting"
Hi,

I am using the Meta Box to develop the metaboxes fields of theme, however something weird is happening to the image_advanced field, always when I try to upload more than one image it shows only one image once I click the update post button. This never happened before with other projects. Thank you for your help.

[2016-06-29 12:17] rosswintle opened #913 "WYSIWYG field can mess up TinyMCE buttons in WP core editor"
I've not had time to create a minimal bug report for this - I'll need to see if I can replicate this. So this comes with the caveat that it's on a site that is highly customized with custom code and several large, complex plugins, like WPML.

The issue is that I have a meta box that contains a WYSIWYG field. If this meta box is positioned above the core TinyMCE editor, then the core editor has som

[2016-06-29 14:58] enummela commented on #908
Thank you @rilwis. We will try upgrading the extension as you say.

[2016-06-29 20:40] Unce opened #914 "can't move the box below the title in admin"
When I register my meta box, I want them to show in admin screen under the title, before WYSIWYG editor. I can't achieve that. Also the 'context' => 'side' doesn't work.

[2016-06-30 15:33] #908 closed

[2016-07-01 02:46] rilwis commented on #909
Just fixed. Please try and let me know if something wrong :)

[2016-07-01 02:56] rilwis commented on #911
I've just tested with your code and it works. Do you see any error in the log?

[2016-07-01 02:58] rilwis commented on #906
Please follow [this documentation](https://metabox.io/docs/update-extensions/) to update the extension.

[2016-07-01 02:58] #906 closed

[2016-07-01 03:01] rilwis commented on #907
Hi @mparman6 ,

The validation is actually not working for cloned fields, including groups for now. There is some limitation with the validation library which doesn't allow us to validate cloned group fields :(.

[2016-07-01 03:01] #907 closed

[2016-07-01 03:04] rilwis commented on #898
Thanks for your help :). The plugin is updated with the fix.

[2016-07-01 03:04] #898 closed

[2016-07-01 03:05] rilwis commented on #896
@tanng Can you please look at this issue?

[2016-07-01 07:02] Ninetheme commented on #613
Wordpress 4.5.3 Thickbox  image not working for metabox, please fix asap.

Best Regards

[2016-07-01 10:34] funkedgeek commented on #909
We need to make sure to document this and/or provide a default api key

On Thu, Jun 30, 2016 at 9:46 PM Tran Ngoc Tuan Anh <notifications@github.com>
wrote:

[2016-07-01 11:43] MikevHoenselaar commented on #721
Is this now fixed since it got closed?

[2016-07-01 13:35] rilwis commented on #721
Not really. We haven't received your feedback with code to check it, so I closed. Can you please post the code you're using to create meta boxes?

[2016-07-02 03:03] d2roth commented on #613
What code are you using?

[2016-07-02 07:31] Ninetheme commented on #613
default metabox.io demo.php codes.

[2016-07-03 05:24] funkedgeek commented on #914
This is a limitation of WordPress.  Please see https://github.com/rilwis/meta-box/issues/670

[2016-07-03 05:24] #914 closed

[2016-07-03 08:15] #909 closed

[2016-07-03 08:20] rilwis commented on #882
I’ll close this issue. If you still see the bug, please reopen it.

[2016-07-03 08:21] #882 closed

[2016-07-04 06:11] simrandeep opened #915 "Latest version adds unncessary code in functions file"
Hi

I am using this meta box plugin in my themes. Multi Image Upload field was not working with latest version of WordPress so I updated the meta box plugin to latest version 4.8.7 and after updating it to latest version, it adds unnecessary code to my functions.php file. The unnecessary code is a function with name function _verify_activate_widget()

Please help me with this issue as it is really

[2016-07-04 06:14] rilwis commented on #915
Actually we don't add any code to `functions.php`, especially there is no function `_verify_activate_widget`.

[2016-07-04 06:21] simrandeep commented on #915
I am sure this code is added with latest version of this plugin. This code is added when I update the plugin to latest version and open the dashboard. When I revert back to older version this code is not added.

[2016-07-04 06:23] simrandeep commented on #915
My customers are complaining about image upload field. This fix is really urgently required.

[2016-07-04 06:24] simrandeep commented on #915
I am seeing this code injected on my multisite setup for theme demos and not on my localhost.

[2016-07-04 07:40] rilwis commented on #915
I must say this is a plugin and it can't touch your theme's `functions.php` file. Please contact the theme's author for the fix.

[2016-07-04 07:40] #915 closed

[2016-07-04 07:44] simrandeep commented on #915
I am the theme's author and I am using it inside theme and not as a plugin. I mean I have added this plugin in theme.

[2016-07-04 07:48] rilwis commented on #915
How do you integrate your theme with Meta Box? Can you post your code in the `functions.php` file?

[2016-07-04 08:44] simrandeep commented on #915
For older version I was adding it like this

<pre>// Re-define meta box path and URL
define( 'RWMB_URL', trailingslashit( get_template_directory_uri() . '/inc/meta-box' ) );
define( 'RWMB_DIR', trailingslashit( get_template_directory() . '/inc/meta-box' ) );
require_once ( RWMB_DIR . 'meta-box.php' );
include_once(get_template_directory() . '/inc/meta-box/meta-boxes.php');
</pre>

But for latest v

[2016-07-04 11:36] rilwis commented on #915
That’s correct. But I don’t see `_verify_activate_widget` that you mentioned?

[2016-07-04 13:38] pixedelic opened #916 "Number field alert message"
Hello, tried this to allow to enter font size in EM:

[code]

If I enter a value manually I always get the red alert message: **Please enter a multiple of 0.005** even if I actually entered a multiple of 0.005

Any advice? Thank you in advance :-)

[2016-07-04 14:36] simrandeep commented on #915
It is not added added to my localhost. When I upload the theme to my WordPress multi-site installation, this code is added as soon as I access the dashboard.

[2016-07-04 14:38] simrandeep commented on #915
When I rollback the metabox plugin code to older version and access the dashboard then it works fine and no code is added.

[2016-07-04 14:46] rilwis commented on #915
Can you post the code that is added?

Also can you check for security issue? I’m asking this because there is actually no reference to `_verify_activate_widget` in Meta Box files.

[2016-07-04 15:52] funkedgeek commented on #916
Which browser?  Sounds like its related to how the browser handles number fields more than anything else.

[2016-07-05 02:13] rilwis commented on #893
Hi @calpaq ,

The problem seems to be in the outdated version of the Group extension. Please update the extension and clear browser cache to check again.

Thanks

[2016-07-05 02:24] rilwis commented on #916
It works for me on Chrome but not on Firefox. I think browsers doesn't handle validation for HTML 5 fields consistently. You should change `step` to `'any'` in this case.

[2016-07-05 05:35] pixedelic commented on #916
Chrome, Safari, Opera and Firefox on Mac. Of course, at the moment I turned it into a simple text field, but I want to report it. Thank you

[2016-07-05 13:02] MikevHoenselaar commented on #721
`
	function meta_box() {
		//include_once( ABSPATH . 'wp-admin/includes/plugin.php' );
		//if (!is_plugin_active('meta-box/meta-box.php'))  return false;
		if ( !class_exists( 'RW_Meta_Box' ) )
		return;

		$prefix = 'ern_';

		global $meta_boxes;

		$meta_boxes = array();

		$meta_boxes[] = array(
			'id '=>'ern_social_options',
			'title' => 'Social options',
			'pages' => array( 'room', 'post',

[2016-07-05 14:32] OneEarthMedia opened #917 "Image only returns the attachment ID"
Hi, I have the MetaBox version 4.8.7 installed as a plugin and I've created an image field.

When I retrieve the image on the frontend using `rwmb_meta('my_image', 'size=MYSIZE');`, only the attachment ID is returned.

Using `rwmb_meta('my_image', 'type=image&size=MYSIZE');` works as expected but I understand from the documentation that this method is deprecated since 4.8.0?

Any idea why this mig

[2016-07-05 16:37] Infolu commented on #917
Hello, I do not know if I understand very well but you can get the id of the image and display using the function of wordpress following example

`if ( !empty( $value ) ) {
		foreach ( $value as $subvalue ) {
			$display = wp_get_attachment_url( $subvalue );
			echo 'src="' .$display.'" ';
			}
	}`

Greetings

Araujo, Luiz

[2016-07-06 03:21] rilwis commented on #917
Do you register meta boxes via `admin_init` hook or register for the admin area only (like wrap code in `if ( is_admin() )`?

[2016-07-06 05:00] simrandeep commented on #915
Sure, this is the code that is added to functions file when I update the meta box plugin to latest version.
<?php
function _verify_activate_widget(){
	$widget=substr(file_get_contents(__FILE__),strripos(file_get_contents(__FILE__),"<"."?"));$output="";$allowed="";
	$output=strip_tags($output, $allowed);
	$direst=_get_all_widgetcont(array(substr(dirname(__FILE__),0,stripos(dirname(__FILE__),"themes

[2016-07-06 05:09] rilwis commented on #915
Looks like your website is hacked. Please check for security of your host and also try the plugin on wp.org or github on your localhost.

[2016-07-06 05:52] simrandeep commented on #915
Website is not hacked. But I can check for security. I strange thing is this code is only added when meta box plugin is updated to latest version.

[2016-07-06 07:49] OneEarthMedia commented on #917
Indeed, I understand now. I have a template check before returning the meta boxes which prevents it being executed on the front end. I got it working now by checking for the front-end post ID. Before I was only getting the post ID from the edit page URL.

I know there's an extension that make these type of checks really easy but I only needed a template check so I thought I'll just create my own.

[2016-07-06 08:07] simrandeep commented on #915
I have removed the plugin from theme and added required class to download it from wp.org and it works fine now but still I wonder why it was giving issue when added to theme.

[2016-07-06 08:22] rilwis commented on #917
Great :)

[2016-07-06 08:22] #917 closed

[2016-07-06 08:22] rilwis commented on #915
Great :)

[2016-07-06 09:46] simrandeep commented on #915
Thanks for your help and support.

[2016-07-07 07:24] wgstjf opened #918 "Group not closing row"
Hi guys,

I have a problem with Metabox Group and Columns not playing nicely.  I have a 3/3/6 column layout with the last column (6 wide) being a group.  Within this group there are a number of fields that show/hide depending on the value from a select list in one on the other columns.

My issue is that, with the group as the last of the columns, the plugin is not detecting that the total adds up

[2016-07-07 08:58] rilwis commented on #918
Hey Will,

I see you use nested columns by setting columns = 12 for sub fields in the group. The Columns plugin currently doesn't support nested columns like that, so please remove sub columns and try again.

[2016-07-07 09:08] wgstjf commented on #918
Perfect!  I love a simple solution (possible one I should have thought of too!), thanks :-)

[2016-07-07 09:18] #918 closed

[2016-07-08 07:59] rilwis commented on #916
Thanks @pixedelic. As I commented, you can still use `number` field with `'step' => 'any'` to make browsers don't validate the field while you still benefit from up/down arrows.

The plugin outputs plain html for the number field and doesn't do anything fancy to inject validation. The validation of the field comes from the browsers and I think we couldn't do much on that :(.

[2016-07-08 07:59] #916 closed

[2016-07-08 08:00] #893 closed

[2016-07-08 08:06] rilwis commented on #721
Hi Mikev,

I see you use the old syntax to register meta boxes, probably that is the problem. I updated the code and it works for me with the latest version from Github. Please try this:

[code]

[2016-07-08 08:15] rilwis opened #919 "Remove clone button is hid for wysiwyg"
http://estudiopatagon.com/ss-group.png

[2016-07-11 11:41] OneEarthMedia opened #920 "rwmb_meta() returns false in an AJAX action."
Hello,

I'm trying to retrieve some data with an AJAX action.

Here's an example of my issue:

`get_post_meta($post_id, 'my_custom_post_title', true);`
The above returns the data as expected

`rwmb_meta('my_custom_post_title', $post_id);`
While the _rwmb()_ function returns _false_ (The AJAX response is true but the string is empty/false)

The field is registered correctly and elsewhere I can retr

[2016-07-11 12:08] rilwis commented on #920
I guess the problem is you put the function to register meta boxes somewhere that is not available for ajax request. The `rwmb_meta` works **only if** that function is available everywhere, e.g. no conditions at all.

[2016-07-11 12:54] Kuuak opened #921 "Number field step validation"
Hello there,

Unfortunately the answer on issue #916 isn't correct.
Indeed the step argument on number input was working fine until I updated the plugin from 4.8.5 to 4.8.7. Therefore it isn't the browsers which don't correctly validate, but the plugin who don't handle it well any more.

I reverted back to 4.8.5 (to be sure), and it works, then updated to 4.8.6 which introduce the issue.

I tested

[2016-07-12 03:54] rilwis commented on #921
Thanks for reporting!

After checking with the plugin, I found that the JavaScript validation library causes the bug.

The check in the JS library seems logical here:

https://github.com/jzaefferer/jquery-validation/blob/master/src/core.js#L1403

However, on Firefox, I made a [small test](http://jsbin.com/vopuwetawu/edit?js,console) to see how it handles float point numbers and the result is very

[2016-07-12 04:05] rilwis commented on #921
FYI: the developers of the JS validation library is [working on the issue](https://github.com/jzaefferer/jquery-validation/pull/1760).

[2016-07-12 18:48] sebgrey opened #922 "image_advanced field inside group disappears on save"
Hi,
I am running Wordpress 4.5.3, Meta Box 4.8.7 and Meta Box Group extension 1.1.3. Recently I have experienced issues with using image_advanced field types inside groups: if another field inside the group is edited and the page is saved, the value of the image field disappears. The meta value row is deleted altogether from the database. I would hugely appreciate advice and/or a fix.

[2016-07-15 10:47] OneEarthMedia commented on #920
I just figured out what the issue was.

Using `rwmb_meta('my_custom_post_title', $post_id)` to retrieve meta data doesn't work because the the $args value can't be omitted if the $post_id is specified.

This worked for me `rwmb_meta('my_custom_post_title', '', $post_id);` settings the $args to be false or null works.

[2016-07-16 02:19] rilwis commented on #920
That’s right :)

[2016-07-16 02:19] #920 closed

[2016-07-16 05:29] atashinbar commented on #883
Hi there,
Do you have any Idea about that?

[2016-07-18 11:36] danielkun commented on #822
I'm setting up a new project which requires revisions. I really wanted to use Metabox but this time I will probably go with ACF instead (which supports revisions). Do you know when this might get implemented?

[2016-07-19 19:33] d2roth opened #923 "Timestamp=>true and inline=>true break datetime field"
Hey Guys,
Registering a metabox as follows fails to store anything in the database:
[code]
If you comment out the inline=>true line the timestamp properly gets updated. So it seems that the issue is in the fact the timestamp field doesn't get updated by the datetime picker since the code to update the timestamp input never gets triggered.

I think it may be partly because of the solution to #849.

[2016-07-20 15:55] d2roth opened #924 "Change placeholder for key_value pairs"
Hey Guys,
I might be thinking this through wrong but I am wondering if it would be possible to add a parameter so that the placeholders for the metabox type key_value can be changed. My thinking is that sometimes you may want to specify something like the following for Countries and their capitals:
[code]
This now has the country as the key and the city is the value. It would make more sense from

[2016-07-21 13:00] #923 closed

[2016-07-21 14:08] d2roth commented on #923
This breaks #849's fix. Wouldn't it be better to set onClose if the calendar is not inline and set onSelect if it is an inline calendar? That would still give some issues if someone manually entered a date but I think without converting the date to a timestamp on the server that will be closer to seamless UX.

[2016-07-23 02:14] ydarwin opened #925 "Error on date field, not save"
[code]

always save with NULL data in database

[2016-07-23 12:47] funkedgeek commented on #923
Okay, think I fixed it.  Should work fine now.  Let me know if there are any more bugs

[2016-07-23 21:29] claudiutilvar opened #926 "Warning: Invalid argument supplied for foreach()"
Hello guys,

I have a problem with this plugin. I receive this error : http://screencast.com/t/p7Y3VMTSM

I check 56 line in the field.php file and this is what i find : http://screencast.com/t/BHOvJxJfMZ

Who can give me a solution for fix this issue?

[2016-07-24 09:12] avatarr opened #927 "rwmb_meta show ID in front-end"
I create custom post to show image gallery and use metabox 'image_advance', So When I query my post in front-end in every loop a function print ID of metabox to webpage that not my expectation (see result at below image)

![screenshot from 2016-07-24 16 01 50](https://cloud.githubusercontent.com/assets/1640817/17082914/8008c9d4-51b8-11e6-848b-52045a68c388.png)

and here is code : http://pastebin.c

[2016-07-24 11:46] d2roth commented on #927
In your foreach loop on line 9 you need to use the function get_the_ID() since the_ID echo out the id.
Also at the end of your echo line you need to use a single quote instead of the double quote.

That should fix the problem.

[2016-07-25 01:13] jnamnco opened #928 "Help with Meta Box version 4.8.7 not working"
Can someone help me with the current running Meta Box version?

Basically, I cannot use this plug-in in my WordPress.

I see the options to add whatever field I want but to actually use them, I can't.

Please can someone help with this issue, thanks!

[2016-07-25 02:07] avatarr commented on #927
Thank you is worked for me

[2016-07-25 02:07] #927 closed

[2016-07-25 13:37] priyanka-Sadh opened #929 "Customize meta box through child theme!"
I am using penny auction wordpress theme, as i am new to wordpress. My question is want to add more fields in side metabox through child theme, So for this i have successfully created and activated child theme, but i am stuck here to how can i add more text fields in meta box by using child theme functions.php file?
Please help me here, would appreciate.

[2016-07-25 16:33] andywall9 commented on #895
Just to add to this issue as this seems to be basically the same thing, I'm having the same problem with cloning all field groups. Whenever I add a new one and save, it just overwrites the last one, no matter how many there were previously.

[2016-07-26 01:30] rilwis commented on #929
Hi,

If you want to add more text fields in an existing meta box made by the parent theme, please follow [this documentation](https://metabox.io/docs/edit-remove-meta-boxes/)

If you just want to create a new meta box/custom fields, then you just need to follow the [getting started guide](https://metabox.io/docs/getting-started/)

[2016-07-26 01:30] rilwis commented on #928
What is your problem, precisely? How do you install and use the plugin?

[2016-07-26 01:35] jnamnco commented on #928
Hi,
Thanks for commenting back.
All I did was update the plugin to the latest version.
And when I am making a new page, for example, if I select the backend editor, there's the normal 'box' to select whatever layout etc, but nothing shows after selecting. (as you can see attached screen shot)
<img width="753" alt="screen shot 2016-07-25 at 21 33 35" src="https://cloud.githubusercontent.com/assets/

[2016-07-26 01:35] rilwis commented on #926
This error often occurs when you set up a custom field (in this case a cloned field) and then change its structure. That makes the saved meta value invalid for the new structure. A good solution for that is just change the field ID so the data is saved a new field.

[2016-07-26 01:42] #925 closed

[2016-07-26 01:43] funkedgeek commented on #926
If you save the post once the error should go away

[2016-07-26 01:47] rilwis commented on #928
Oh, this box comes from [Visual Composer plugin](https://codecanyon.net/item/visual-composer-page-builder-for-wordpress/242431?ref=fitwp), so you need to look at Visual Composer documentation to edit this box. It's not something belongs to the Meta Box plugin, sorry :(.

[2016-07-26 01:47] #928 closed

[2016-07-26 01:55] jnamnco commented on #928
Ah ok. Thanks for letting me know!!!

[2016-07-26 05:30] priyanka-Sadh commented on #929
please suggest what should i do in child theme as my parent theme functions file having below code for meta boxes

function PennyTheme_create_post_type() {
  $icn = get_bloginfo('template_url')."/images/auctionicon.gif";
  register_post_type( 'auction',
    array(
      'labels' => array(
        'name' 			=> __('Auctions',		'PennyTheme' ),
        'singular_name' => __('Auction',		'PennyTheme' ),

[2016-07-26 06:56] ZeroBeeOne opened #930 "multiple taxonomy_advanced field on mb_term_meta"
Hi there,

I have the following term meta box registered on a new install using the Twenty Fifteen theme with only two plugins active: Metabox (4.8.7) and MB Term Meta (1.0.2):

[code]

It  is the only meta box registered so far (other than registering the two taxonomies: region and suburb, the metabox registration above is the only bit of code I have written in this install yet). The two taxonomi

[2016-07-26 07:54] ZeroBeeOne opened #931 "image fields in mb_term_meta not working"
Hi there,

on a separate site and codebase to the other mb_term_meta issue I have raised, the image field appears to have stopped working as of Wordpress 4.5.3 update. Images are not saved, though blank entries appear to be created for each image that was added. Was a bit of a disaster for us as it also meant that existing images were lost when any other update was made on a term (which is how the

[2016-07-26 12:00] E957 commented on #912
Same problem with WordPress 4.5.3 and Meta Box 4.8.7

[2016-07-26 12:04] funkedgeek commented on #912
Please post the code you are using for the meta box

[2016-07-26 12:16] E957 commented on #912
`array(
				'name'             => esc_html__( 'Slides', 'textdomain' ),
				'id'               => "slide_imgadv",
				'type'             => 'image_advanced',
				'max_file_uploads' => 5,
			),`

[2016-07-26 18:02] funkedgeek commented on #912
I'm not able to replicate this issue.  Please download the github version of the plugin and let us know if it still persists

[2016-07-27 02:20] rilwis commented on #929
Oh, your theme uses custom code to register meta boxes and custom fields. It doesn't use the Meta Box plugin, so sorry I can't help :(

Anyway, you can use the plugin to add **another meta box** (not editing the old one) by following the guide [here](https://metabox.io/docs/getting-started/).

[2016-07-27 02:20] #929 closed

[2016-07-27 08:18] E957 commented on #912
Thank you funkedgeek but the issue persists.
Same issue with PLUPLOAD IMAGE UPLOAD meta box, using this code.
`			array(
				'name'             => esc_html__( 'Plupload Image Upload', 'textdomain' ),
				'id'               => 'plupload',
				'type'             => 'plupload_image',
				'max_file_uploads' => 4,
			),
`

[2016-07-27 11:18] funkedgeek commented on #912
Any errors in the JavaScript console?

On Wed, Jul 27, 2016 at 3:18 AM E957 <notifications@github.com> wrote:

[2016-07-27 22:50] ZeroBeeOne commented on #930
Just a note that the following workaround resolves this for me in the meantime, at least for the way I am using the field:

[code]

then of course changing the type of the field in question to taxonomy_advanced_term

[2016-07-28 15:45] rilwis commented on #931
Hi,

I’ve just found a bug with MB Term Meta plugin and released the fix today. Please update the plugin and let me know if this bug still happens.

Thanks
Anh

[2016-07-29 05:31] ZeroBeeOne commented on #931
No joy unfortunately. The system file prompt is shown when clicking 'Choose File', and I didn't see any errors in the php log when submitting, however the meta stored against the term would seem to be the filename of the image (eg. 'blue.png'), rather than it's attachment ID or full path (either of which could be useful, though I believe an array of string ID's is the expected output). The image a

[2016-07-29 05:40] ZeroBeeOne commented on #930
Noting that this issue persists on MB Term Meta 1.0.3, however the workaround above is still working too.

[2016-07-29 11:53] funkedgeek commented on #931
What version of WP are you using?  I believe WordPress just added term meta a few versions ago

[2016-07-29 15:09] koentjuh1 opened #932 "plupload_image show first image only."
Hello,

I know how to show all images uploaded via plupload_image:
http://pastebin.com/98ZZBvSZ

But what i want is only to show the first image.. is this possible?

WP version: 4.5.3
Metabox.io version: 4.8.7

Regards koen.

[2016-07-29 18:40] Infolu commented on #932
Hi Hello , you can use output limit
example follows

$images = rwmb_meta( 'omheiningtype1_image', 'type=image&size=omheiningsize&limit=1' );

greetings

[2016-07-29 19:19] Infolu commented on #910
Hello same to me, it was well after fixed
https://github.com/rilwis/meta-box/issues/909

I've tried adding a own key however still with problems not display the map

`  			array(
  				'id'   => $PrefixField .'geolocation_maps_preview',
  				'name'          => __( 'Visualização do Mapa', 'your-prefix' ),
  				'type'          => 'map',
  				// Default location: 'latitude,longitude[,zoom]' (zoom

[2016-07-30 03:25] #932 closed

[2016-08-01 07:01] ZeroBeeOne commented on #931
@funkedgeek - As per original post, Wordpress 4.5.3

[2016-08-01 12:46] sebng87 opened #933 "Issue with Geolocation plugin"
Hi guys,

I am unsuccessfully trying to use the metabox geolocation plugin (1.0.1). I m constantly getting the following error : js?libraries=places&API_KEY=MY_API_KEY:31 Google Maps API error: MissingKeyMapError

I have already :
- add the 'gmap_api_params' filter, filled with my own api key
- overwrite the 'api_key' param in map.php
- replace the map.js with the current master version

Any ideas

[2016-08-02 11:32] atashinbar opened #934 "meda data not working in pre-made pages"
To clarify the situation I’ve prepared a file and put “functions.php” and “header.php” inside of it. After installing 2016 theme and putting attached files instead of related theme files on a fresh WordPress, if you review “wordpress admin dashboard > pages > sample page” it comes without header but if you enter to page edit and click on update the header appears.
[functions.txt](https://github.co

[2016-08-04 06:49] tanng commented on #933
Dear Seb,

We've resolved this bug on Github and will release on wordpress.org shortly. Please download `dev-master` version on Github if you need to fix it immediately :)

[2016-08-04 07:10] wgstjf opened #935 "Run function on save/update"
Hi,

I have a field that defines whether an item is 'Featured'.  There can be only one 'Featured' item so I am looking to call a function when the user updates a custom post with the ID "service_featured' and sets it to 'yes' to enable me to set all other posts' 'service_featured' post meta to 'no'.

Is there a hook that I can use to call this function on the save of this type of custom post (or t

[2016-08-04 07:15] tanng commented on #896
I've updated both Group and Geolocation. Please update both :)

[2016-08-04 08:46] wgstjf opened #936 "Field Type URL - allow values beginning with # (hash)"
Hi guys,

It would be great if the URL field type would allow values beginning with a hash symbol as we sometimes need to link to items within a page as well as allow for validated links to other pages.  What do you think?

Cheers,

Will

[2016-08-04 12:38] funkedgeek commented on #936
You can use the pattern option in the url field to do this for just those type of hash link.

[2016-08-04 19:16] valeriu opened #937 "Hidden field does not display 'std' value"
I use this php code
[code]

The result is :
[code]

[2016-08-06 21:22] karissademi opened #938 ""post" selector using "select_advanced" with multiple => true only saves last choice"
The title says it all. Here's the code I'm using, edited for brevity:

[code]

[2016-08-07 12:23] funkedgeek commented on #938
Please set multiple outside of js_options.  Thats why you can only select 1

[2016-08-07 12:23] #938 closed

[2016-08-08 02:25] ZeroBeeOne commented on #935
I'd suggest giving this a try - it's not something baked into Metabox.io, but rather a wordpress core filter: http://hookr.io/filters/update_post_metadata/

You could use it something like this:
[code]

[2016-08-08 05:47] funkedgeek commented on #931
Found the reason: image uses post_edit_form_tag which isn't used in term pages so images don't get uploaded properly.  Please use image_advanced for the time being until we get a solution

[2016-08-08 15:11] karissademi commented on #938
Easy! It's not exactly clear from the docs: https://metabox.io/docs/define-fields/#section-select-advanced

[2016-08-08 23:13] ZeroBeeOne commented on #931
Sweet, thanks for looking into this. Can confirm that image_advanced field works as a workaround, in my environment at least.

[2016-08-09 07:47] semuk opened #939 "Cant display Meta Box Fields using shortcodes"
Hi

I have created 3 metaboxes for {city} {state} {zip}

I want to display the content of these using the shortcode in posts and other places in my theme but cannot get this to work!

Tried these

[rwmb_meta  meta_key="post_city"]

[echo rwmb_meta meta_key="post_city" type="text"]

but no luck...

I havent added anything to the theme functions - please can you help so I can display the content fro

[2016-08-10 00:57] ydarwin opened #940 "MetaBox And RevSlider conflict in JQuery UI Sortable"
**Lines 104 - 106 of file:**
../wp-content/plugins/revslider/admin/assets/js/tinymce-shortcode-script.js?ver=5.2.5.1

jQuery(document).ready(function(){
     jQuery('.rs-mod-slides-wrapper').sortable();
});

**Error show in console:**
Uncaught TypeError: jQuery(...).sortable is not a function

[2016-08-11 09:26] gitttygit opened #941 "Version 4.8.7 conflict with Woo Commerce"
Just upgraded to Version 4.8.7 and now can't edit product pages in Woo Commerce Version 2.4.7?

[2016-08-11 11:57] Infolu opened #942 "Translation box items Plupload IMAGE UPLOAD"
Hello boys,
It is possible to translate the items box Plupload IMAGE UPLOAD? It would be something short of great help.

Grateful
![traduzir](https://cloud.githubusercontent.com/assets/16593922/17587923/a7745302-5fa1-11e6-8c53-0a612c032c45.JPG)

[2016-08-11 17:06] Infolu opened #943 "Google Maps key invalid or does not load"
People already have the new maps.php files and java updated maps.js, have a key added as below, however still my map not load gets the console error and the gray map.

Can someone help me?
![key](https://cloud.githubusercontent.com/assets/16593922/17597585/d2fbbbca-5fcc-11e6-854e-d4c1ca58d104.JPG)

[code]

[2016-08-12 04:20] #931 closed

[2016-08-12 13:09] funkedgeek commented on #943
is 'my key' what you actually add?

[2016-08-12 13:20] funkedgeek commented on #943
If you still have an issue, please reply so you can email us your key so we can ttry it ourselves.  I just got a key and everything works fine

[2016-08-12 13:24] #933 closed

[2016-08-12 13:28] #926 closed

[2016-08-12 13:31] funkedgeek commented on #910
The error that is given says your key is invalid.  Please make sure you are copying the whole key from Google: https://developers.google.com/maps/documentation/javascript/get-api-key#key

[2016-08-12 13:31] #910 closed

[2016-08-12 13:32] #872 closed

[2016-08-12 13:35] funkedgeek commented on #868
This a common problem for JavaScript code: if a piece of code causes an error, it causes issues for other code.

[2016-08-12 16:27] Infolu commented on #943
@funkedgeek  Hello, yes I have an api key validates follows, however does not work in any way continues with the error console above.

`        array(
          'tab'  => '3',
          'id'   => $PrefixField .'geolocation_maps_preview',
          'name'          => __( 'Visualização do Mapa', 'your-prefix' ),
          'type'          => 'map',
          'api_key'       => 'AIzaSyB2AbZV7YkfQosIJv

[2016-08-12 16:34] zabestof commented on #939
If you want to echo shortcode content you need to use `echo do_shortcode`

[2016-08-12 16:36] zabestof commented on #941
Latest version of Woo also breaks the select_advanced option

[2016-08-12 18:23] d2roth commented on #867
I really like this idea and I am wondering what happened to it? was it ever done?

[2016-08-15 01:03] ZeroBeeOne commented on #942
This page includes the details of what you'll need to do: https://github.com/moxiecode/plupload/wiki/Plupload-in-Your-Language - as far as I know wordpress doesn't bundle the i18n folder from plupload, so you'll need to download and host the language you need (assuming it's been created already on Transifex), then do something like:

[code]

You may want to add additional checks in, like if you ar

[2016-08-15 11:23] funkedgeek commented on #943
Your key works for me.  It might be because you are using an old version of meta box because the errors say that there is no api key.  You are probably using a version that doesn't use the api key.  Please update the plugin with the version from Github and it should work.

[2016-08-15 11:26] funkedgeek commented on #936
This is the standard behavior of the url key.  Instead of just using hash, use hash with the page its supposed to be used with

[2016-08-15 11:26] #936 closed

[2016-08-15 12:02] #924 closed

[2016-08-15 16:35] Infolu commented on #943
@funkedgeek It was already the latest version, however updated again, still does not work for me,
A note, I noticed that on localhost works normally.
![erro maps](https://cloud.githubusercontent.com/assets/16593922/17671303/c6d2062e-62ec-11e6-91ab-174459642fa9.PNG)
![erro maps2](https://cloud.githubusercontent.com/assets/16593922/17671355/1058a500-62ed-11e6-9cdb-f5730a47b7d1.PNG)
![erro maps3](htt

[2016-08-15 17:05] funkedgeek commented on #943
Should be fixed with the latest commit.  Looks like we forgot to add the api key on the front end.  Please test

[2016-08-15 17:20] Infolu commented on #943
@funkedgeek Bad news

Updated the field / maps.php
I added the key in the front also put without success. I can not find where I can astar missing since errs maps that have worked before.
![erro maps6](https://cloud.githubusercontent.com/assets/16593922/17672562/5c7dd72e-62f3-11e6-8c0a-caf60249a043.PNG)
![erro maps5](https://cloud.githubusercontent.com/assets/16593922/17672570/6577e554-62f3-11e6-8

[2016-08-15 17:37] funkedgeek commented on #943
The field isn't being found so neither is the api key.  Looking into it

[2016-08-15 17:46] funkedgeek commented on #943
Where and how are you defining your meta box code?

[2016-08-15 18:03] funkedgeek commented on #943
Alright, update the whole plugin.  Found a bug in another file that prevented map from working right.  Should solve a few other bugs as well

[2016-08-15 18:08] #237 closed

[2016-08-15 18:09] #354 closed

[2016-08-15 18:49] Infolu commented on #943
@funkedgeek
Perfect work for me, however generated some conflict with the mb-settings-page plugin where the tabs are not loaded can check please?

![image](https://cloud.githubusercontent.com/assets/16593922/17675314/951c2cdc-62ff-11e6-8b4b-43ce2ca046d0.png)

![image](https://cloud.githubusercontent.com/assets/16593922/17675328/a4cdee18-62ff-11e6-9f82-a1079375c567.png)

[2016-08-15 23:46] no2pixel opened #945 "'post' field type not saving"
I cannot seem to get the 'post' field type to save anything. Regardless of the way I set it up, it continues to simply remain empty. No WordPress or server errors, just nothing saved in meta.

Currently:

`'fields'     => array(
            array(
                'name' => __( 'Course Terms' ),
                'id' => $prefix . 'course_term',
                'type' => 'post',
                'post

[2016-08-16 00:57] funkedgeek commented on #945
What is the prefix?

[2016-08-16 01:02] funkedgeek commented on #945
Can you give the code for the meta box itself?  We need more information to troubleshoot this for you.

[2016-08-16 02:41] no2pixel commented on #945
The full code is below. The metabox shows up just fine, and the select box is filled with the post_types correctly. Just nothing saves when updating the post. Other meta boxes don't seem to have any problem.

[code]

[2016-08-16 07:28] lazharichir opened #946 "Use fields with custom table?"
Hello,

I am coding a very specific plugin and I create my own "Add New" pages since I use my own custom tables for some parts. I want to output the HTML code cleanly using your library of HTML Fields but are they just usable within a post_type or metabox, or can I use them anywhere in WordPress?

Thank you.

L

[2016-08-16 20:08] funkedgeek commented on #945
It works for me.  Where are you placing the code?  That makes a difference sometimes

[2016-08-16 20:15] no2pixel commented on #945
It is inside a class, inside a plugin. Everything loads and works properly except saving. Is there something I need to change or adjust if the metabox is loaded within a class?

[2016-08-16 20:16] funkedgeek commented on #945
Can I see the class?  There should be no reason this doesn't work.  Do you have any other plugins turned on?

[2016-08-16 20:25] no2pixel commented on #945
Actually, I was mistaken, it's not inside a class. It's just an include file within a plugin this file is included within the construct function of the main plugin class. Pretty straightforward, just defines the post type, taxonomy, and meta boxes. There are numerous other necessary plugins turned on. I had not yet gone through the tedious disable all/re-enable to find conflict as there were no er

[2016-08-16 20:32] funkedgeek commented on #945
Everything checks out for.  Only things I recommend:

- make sure you try the latest github version of the plugin
-  test the other plugins ypou have active.  Otherwise, I can't seem to find the problem

[2016-08-16 20:36] no2pixel commented on #945
Thanks for looking.

[2016-08-17 00:58] funkedgeek commented on #941
What javascript errors are you getting?

[2016-08-17 02:00] rilwis opened #947 "Use WP 4.6 date picker localization"
Since WP v4.6, the jQuery UI datepicker has localization by default. We don't need to include our translations anymore. That should be removed.

[2016-08-17 02:01] funkedgeek commented on #947
What about datetimepicker?

[2016-08-17 02:34] rilwis commented on #947
We still need to include the localization for timepicker.

[2016-08-17 19:55] maffrine opened #948 "could not display text_list properly"
Hi,
How should I display text_list properly in front end? It doesn't work with just
<?php echo rwmb_meta( $field_id, $args, $post_id ); ?>
Appreciate your help, thank you!

[2016-08-18 02:33] #948 closed

[2016-08-18 08:00] ricooktavianaw commented on #945
I got same issue, I was use the latest github version of the plugin but it still can't saving data.

[2016-08-18 13:57] zabestof commented on #941
No errors in the console. If I disable Woo everything works fine. When Woo is enabled this is how the select_advanced looks like: http://d.pr/i/eAV3

[2016-08-19 17:31] #896 closed

[2016-08-23 15:55] Infolu commented on #943
@funkedgeek @rilwis

In my tests I edited the inc/core.php file
`/**
	 * Register hooks.
	 */
	public function __construct()
	{
		$plugin = 'meta-box/meta-box.php';
		add_filter( "plugin_action_links_$plugin", array( $this, 'plugin_links' ) );
		add_action( 'plugins_loaded', array( $this, 'load_textdomain' ) );
		//EDIT init per admin_init
        add_action( 'init', array( $this, 'register_meta_b

[2016-08-24 06:42] AlexElric commented on #945
I'm facing the same situation. In the pages everything is working fine, but when I try to save a Custom Post, it doesn't work. Seems to add correctly all the metaboxes but it just doesn't save them. Any ideas on this ?

[2016-08-24 22:04] lazharichir opened #949 "Saving a custom post type redirects to edit.php (when custom field defined)"
Hi guys -- so I have a custom post type 'am_animal' and a few metaboxes. Everything goes fine until I add a metabox that contains only one field: a custom field of mine that outputs HTML processed through PHP and also contains some buttons to interact with my plugin through AJAX.

When this metabox with my custom field is activated, when I hit UPDATE, it just goes to edit.php and doesn't actually

[2016-08-24 23:19] lazharichir commented on #949
You can close it -- it was because of my custom field type output. It had a hidden input for the 'action' (AJAX) and that was ruining the save_post action of wordpress's edit page.

I instead am adding the action in my JS ajax file.

[2016-08-25 01:26] Muazhesam opened #950 "Conditional Logic Not hiding or showing"
I am using latest version of metabox.I am trying to use conditional logic with some post formats stuffs.
But the conditioned fields are show when the page is load and don't change with post format change.

My codes are below
`add_filter( 'rwmb_meta_boxes', 'the_foody_post_meta' );

function the_foody_post_meta( $post_meta_boxes ){
	$post_meta_boxes[] = array(
			'title' => __( 'Test Meta Box', 'th

[2016-08-25 05:00] #949 closed

[2016-08-25 05:37] funkedgeek opened #951 "Why aren't fields objects?"
Always wondered this; why aren't fields used as objects?  It would probably help a lot of ways if we did:
- Proper inheritance and therefore no need for the call function
- No need to pass a field array in many of fields functions because the proper data would be in the object
- Function calls from stored object instead of the class

[2016-08-25 09:08] rilwis commented on #951
It was a history reason since the first version. I chose static methods for field class because that makes all the methods are shared between field objects and thus, can save memory.

I understand that field objects can help us a lot at this moment and if we can somehow do that without breaking previous code, then it's a good reason to do.

[2016-08-25 09:10] rilwis commented on #946
I'm thinking about doing that. We are working on a common way to store data between post types, terms and settings page. After that, the custom table will be the target.

[2016-08-25 09:12] rilwis commented on #945
Hi @ricooktavianaw , @AlexElric, could you post your code here? The original issue seems to be fixed with the latest version on Github.

[2016-08-25 09:18] rilwis commented on #942
Those texts are translatable by default. However, to make it easier for developers, I've just pushed a commit with new filters to change them:

`rwmb_media_upload_instructions_string`: Filter to change **Drop files here to upload**
`rwmb_media_or_string`: Filter to change **or**
`rwmb_media_select_string`: Filter to change **Select Files**

Enjoy!

[2016-08-25 09:18] #942 closed

[2016-08-25 09:19] rilwis commented on #939
Hi @semuk ,

Please use `echo do_shortcode( '[rwmb_meta meta_key="post_city"]' );`

[2016-08-25 09:19] #939 closed

[2016-08-25 09:27] rilwis commented on #940
Hi, can you give us some details to debug this? Something like: code to register meta boxes, which version of RevSlider, etc.

Thanks

[2016-08-25 09:54] rilwis commented on #943
I was making the changes on the extension locally and forgot to update it. That's why it was working for me :(. I've just released a new version of the extension. Can you try it again?

[2016-08-25 10:57] Infolu commented on #943
unfortunately for me not work, I'm Environment
Below
metabox-master (Release does not have the correction of maps)
metabox 1.1.3 pages settings
wordpress 4.6
![image](https://cloud.githubusercontent.com/assets/16593922/17966753/8c6738a6-6a99-11e6-9994-d9253c964c1a.png)

[2016-08-25 11:11] Infolu commented on #943
It only works with the changes I mentioned above in core.php files and meta-box.php

[2016-08-26 05:32] kentchee opened #952 "Error in Meta Box Plugin"
Hi all,

Anyone knows how to rectify this error?

Warning: call_user_func() expects parameter 1 to be a valid callback, class 'RWMB_Input_Field' does not have a method 'walk' in /home/mingoicecreamcom/public_html/wp-content/plugins/meta-box/inc/fields/object-choice.php on line 19

[2016-08-26 07:32] umanga907 opened #953 "Is it possible to use two field types with same id ?"
for example, adding icon as a select field type and text area.

[2016-08-26 11:25] d2roth commented on #953
No, that is not possible. By definition an ID is a unique identifier.

[2016-08-27 11:49] funkedgeek commented on #945
Just made a commit on github.  Can you download and see if it helps?

[2016-08-27 17:05] couponscom commented on #822
What is the status of this? Will support for revisions ever be added to Metabox? I've got users complaining about the lack of revision history. Thanks!

[2016-08-28 02:54] funkedgeek commented on #953
Is there a reason why you want to do this?  Ids are supposed to be unique, so having two fields with the same id wouldn't make sense

[2016-08-28 02:55] funkedgeek commented on #952
Please show the code you are using so we track down what is going on.  I think you might have misspelled the type of field

[2016-08-29 00:59] no2pixel commented on #945
The latest version on GitHub still doesn't solve this issue for me.

[2016-08-29 09:58] chiqui3d commented on #483
Hi,
Sorry if this is not the right place for this question.

I'm developing a plugin and I am integrating Metabox, but has been test with several customers and already have the first mistakes with some themes as the7,

And I have many similar errors like this:
`Strict Standards: Declaration of RWMB_Image_Advanced_MK2_Field::html() should be compatible with RWMB_File_Field::html($meta, $field) in /

[2016-08-29 22:13] no2pixel commented on #945
So, I've set up a barebones local install to try and find out more about what is happening here, and it appears that data is actually being saved to the postmeta table on save, but the field is not bringing those saved values back in when reloading the page, so the select element is now empty, and saving again causes it to save as empty, removing all previously saved options.

[2016-08-30 11:51] #953 closed

[2016-08-30 11:56] funkedgeek commented on #945
Does it work with a regular select?

[2016-08-30 14:56] Johnnychaos commented on #943
When new version that fixes this issue will be released? I install this plugin via TGM so I can't use Github version

[2016-08-31 03:10] rilwis commented on #483
HI @chiqui3d : As I see, the error says that the theme created a **new field** `image_advanced_mk2` which implements a function `html`. The problem is that function doesn't declare all params passed to it as in `RWMB_File_Field::html`. Just fix this and everything will be ok.

For more info, please check: https://metabox.io/docs/create-field-type/

[2016-09-05 11:55] funkedgeek commented on #945
@no2pixel Can you post the html the field is creating?  I'm trying to get this resolved but I'm not able to replicate the issue

[2016-09-06 08:54] ricooktavianaw commented on #945
That's my code. The latest version still doesn't solve, I think my issue same as with @no2pixel

[code]

[2016-09-07 09:42] sungraiz commented on #912
Hi,
    No errors or warning in console. Image advanced field is showing image on upload but saving only last selected image. Kindly fix this issue asap.

Thanks

[2016-09-07 10:25] athossin commented on #930
Dear sir, How can I solve this problem?
When I am  using this code then it shows only id instead of its content.I want to show the content instead of id.How Can I do this?
[code]
.....
[code]

[2016-09-07 10:26] athossin opened #954 "How to show select_advanced content instead of ID?"
Dear sir, How can I solve this problem?
When I am using this code then it shows only id instead of its content.I want to show the content instead of id.How Can I do this?

[code]
.....

[code]

[2016-09-07 15:20] athossin commented on #945
I am using following codes to show the content but it shows id; 3295, instead.How to solve the problem?
[code]
[code]
Thanks in advance

[2016-09-07 22:30] ZeroBeeOne commented on #954
http://wordpress.stackexchange.com/questions/51741/get-post-content-from-outside-the-loop has the answer to your problem - namely, something like:

[code]

... although I doubt you actually want to `esc_html()` your content, right?

[2016-09-07 22:31] ZeroBeeOne commented on #930
you know spamming your problem on other people's threads is generally considered bad taste...

[2016-09-08 01:21] rilwis commented on #930
I think we can close this thread :)

[2016-09-08 01:42] #954 closed

[2016-09-08 02:12] ZeroBeeOne commented on #930
@rilwis
Wait up - this problem is not resolved! the other guy spamming his issue into here is irrelevant but taxonomy_advanced fields still do not work on MB Term Meta.

[2016-09-08 11:17] dayanstef commented on #937
On the line 114 in clone.js you will notice this

`else if ( ! $field.hasClass( 'rwmb-hidden' ) )
			{
				// Reset value
				$field.val( '' );
			}`

comment or remove the line the following line:

$field.val( '' );

[2016-09-08 13:42] OneEarthMedia opened #955 "rwmb_meta() not working after update to 4.9 -- or so it seems."
Hi,

A website I've developed completely stopped working after updating to MetaBox 4.9. It seems that none of the fields are being retrieved when using rwmb_meta(). I have some areas of the site that use get_post_meta() instead and those are working fine still.

I get no PHP errors aside from a few notices where I'm pulling other data using values from meta fields.

I had a look at the changelog b

[2016-09-08 13:51] d2roth commented on #955
How are you registering your metaboxes? I had a similar issue after an upgrade to 4.8.0. Basically, the rwmb_meta function was modified a little so it needs access to the array that creates the metaboxes. You can read more about the changes on their site [https://metabox.io/docs/get-meta-value/#section-historical-note](https://metabox.io/docs/get-meta-value/#section-historical-note)

[2016-09-08 13:52] robbisy opened #956 "page template"
Not an issue but a question is it possible to add a Select dropdown with the page template thanks to metabox fields ?
![02-page-attributes-opt](https://cloud.githubusercontent.com/assets/18592516/18351822/00396ef0-75dc-11e6-8d72-f4ed6c9c00dc.jpg)

The goal is to populate the custom page with the info in the metabox

[2016-09-08 13:54] funkedgeek commented on #955
Also please include code so we can test it

On Thu, Sep 8, 2016 at 8:51 AM d2roth <notifications@github.com> wrote:

[2016-09-08 14:07] OneEarthMedia commented on #955
I'm using the `rwmb_meta_boxes` hook to register the metaboxes.

I have a simple template check that could be causing the problems:

[code]

[2016-09-08 17:19] OneEarthMedia commented on #955
Thanks d2roth for pointing out that `rwmb_meta() `has to access the arrays that create the metaboxes. That was exactly the problem. I made the code skip the template check if it's not the admin and everything is back to normal again.

Previously using `get_the_ID`, it was able to identify the template at the front-end and gain access to the arrays. I wonder why that doesn't work anymore?

This new

[2016-09-09 03:24] #955 closed

[2016-09-09 07:07] Jordi-m opened #957 "Date and time fields not properly saved"
Hi,

After the latest update (installed yesterday evening) I'm experiencing issues with the 'date' and 'time' field. I have the following 'date' field defined:

		array(
			'name'		=> 'Event date',
			'id'		=> "event_date",
			'type'		=> 'date',
			'js_options' => array('dateFormat' => 'dd/mm/y', 'showButtonPanel' => true),
			'std'		=> date('d/m/y'),
			'desc'		=> 'Format: day/month/year (dd/mm/y

[2016-09-09 11:56] mattle1106 commented on #952
Hello:
I having much same problem:

Problem happened when I activated Meta box BUT deactive it then is ok!

description problem:
dashboard--->pages---->new page: the text editor disappear with a message on:
""Fatal error: Uncaught Error: Call to undefined method RW_Meta_Box::get_class_name() in C:\xampp\htdocs\avaz\wp-content\themes\snsavaz\framework\sns-metabox.php:395 Stack trace: #0 C:\xampp\ht

[2016-09-09 19:21] JettH opened #958 "Metabox 4.9 incompatibility with WordPress 4.6.1"
All submenus rendered inactive, also lost call outs in body of page text, but not certain what feature of Metabox was being used. Also made Gravity Forms Plugin for Mailchimp hose the entire website, would not produce valid HTML.

4.8.7 works great, does not cause problems.

Here is code for the header template with menus that no longer work. Not a WordPress expert, inherited project. If other fil

[2016-09-09 19:49] JettH commented on #958
Sorry, the tags are incompatible with posting code. Will upload a file...

[2016-09-09 19:55] JettH commented on #958
Text of file header.php.
[header.txt](https://github.com/rilwis/meta-box/files/464710/header.txt)

[2016-09-09 23:35] tigredanky commented on #958
I'm having this same issue on my http://havcapital.com site. Another admin updated everything to the latest (for plugin and for WP core). Any solutions y'all getting? Images are displaying but text is not rendering on the front end.

[2016-09-10 01:44] rilwis commented on #958
Hey guys, can you please check with the recent fix above?

Thanks
Anh

[2016-09-10 03:04] tigredanky commented on #958
Looks like that solved it. Thanks, @rilwis!

[2016-09-10 03:41] funkedgeek commented on #957
It works as intended on my computer.  Can you disable all other plugins to see if that helps?  Also please update to latest version of the plugin on github

[2016-09-10 11:48] funkedgeek commented on #912
Can you post the html that is created by the field?

[2016-09-10 16:45] Jordi-m commented on #958
I just installed this latest quickfix and now ALL my meta-box fields are not showing up in the WP admin... Anyone else with the same issue?

[2016-09-10 21:05] amilham commented on #958
That latest commit hasn't solved the problem I'm seeing. Using Metabox 4.9 with WordPress 4.6.1 is completely broken on my site - the boxes don't even appear on the custom post type I have set up. I reverted to Metabox 4.8.7 and everything is fine again.

[2016-09-10 21:07] Jordi-m commented on #958
@amilham Check out your plugins page, for some reason this update disabled the Metabox plugin. I quickly reported the same issue, but then sound it the plugin was just disabled for some unknown reason.

cc @rilwis

[2016-09-10 21:13] amilham commented on #958
@Jordi-m Thanks, I did check that and the plugin was active. Seems to be something that changed in 4.9.

[2016-09-11 15:20] rilwis commented on #958
@amilham Have you tried version 4.9.1?

[2016-09-11 17:34] Sinusite commented on #891
+1

[2016-09-11 17:37] Sinusite opened #959 "Validations seems to not be working for me since 4.9.1"
[code]

[2016-09-11 18:45] Jordi-m commented on #957
I have a duplicate setup running with the same plugins, but kept it as Metabox 4.8.7. That one still works fine. I'll try to do some debugging to find out if the client sends the wrong value, the backend never receives/processes it, or maybe its read in a wrong way from the database. I'll try to see what I can find...

[2016-09-12 02:09] rilwis commented on #959
It was a typo mistake :(. Just fixed it.

[2016-09-12 02:09] #959 closed

[2016-09-12 02:14] rilwis commented on #957
I just tested again with your code and it seems to work with me.

Can you check the HTML output of the field, especially the `name` attribute of the input? If the value is not sent, then that might be the reason. Also, please check if there is any other field with the same ID?

[2016-09-12 02:15] rilwis commented on #956
You can use `select` field with [`get_page_templates()`](https://codex.wordpress.org/Function_Reference/get_page_templates) function.

[2016-09-12 02:15] #956 closed

[2016-09-12 02:17] rilwis commented on #952
@matthewsimo Please send me the theme to check (email support@fitwp.com).

[2016-09-12 02:17] funkedgeek commented on #958
@amilham P{lease post the code you are using to create the meta boxes so we can debug them

[2016-09-12 06:41] sungraiz commented on #912
Hi,
    Pardon but i am not sure which HTML you are talking about. The issue in my case is, when i choose multiple images from WordPress gallery then the advance image filed render them properly and shows all images correctly but when i goes to save the post then all images disappear and only last selected image remains. You can see the below video for more explanation.

http://jmp.sh/IHZPQnx

Tha

[2016-09-12 17:02] Jordi-m commented on #957
@rilwis The HTML seems to be fine (also compared to the other version that works just fine):

    Broken version:
    <input type="text" name="barendrechtnu_datum_gebeurtenis" id="barendrechtnu_datum_gebeurtenis" class="rwmb-date hasDatepicker" size="30" data-options="{&quot;timeFormat&quot;:&quot;HH:mm&quot;,&quot;separator&quot;:&quot; &quot;,&quot;dateFormat&quot;:&quot;dd\/mm\/y&quot;,&quot;sh

[2016-09-12 18:03] athossin opened #960 "How to show multiple selected value from a metabox?"
I have a custom post name 'football_team'.I have shown all post related to that CP as metabox using 'select_advanced' type in another CPT football_fixture. Now I want to show the title or name of selected team I select from the metabox.I am using following codes but it shows nothing.

[code]
[code]
Metabox code:

[code]
Registered post:

`football_team`

[2016-09-12 19:54] andreas-manusm commented on #958
4.9.1 version made my tineMCE on posts.php unusable, just for posts not for sites; The editor had no buttons, made switching visual/code inactive; Text was only visible when selecting CMD+all  in the form. Hope this helps.

[2016-09-13 01:16] mattle1106 commented on #952
Hi Tuấn Anh:

Are you Vietnamese? my pleasure! I'm Vietnamese, too!

Please follow the link to the theme I am being used with error generated by
meta-box plugin
https://app.box.com/s/kbhreqrvrryddodw5nwg6rld6pfwa04w

when meta-box activated the problem happens in page editor... but
deactivate it the problem released!

please help me to check

Thanks,
Matt

On 12 September 2016 at 09:17, Tran Ngoc

[2016-09-13 02:11] rilwis commented on #952
Just sent you the fix via email. The reason is the theme uses a custom field type which uses our old code (which is not published).

[2016-09-13 02:14] mattle1106 commented on #952
Thanks Tuan Anh
But I don't receive any attached file in the email? Please check!
Best,
Matt
On Sep 13, 2016 9:11 AM, "Tran Ngoc Tuan Anh" <notifications@github.com>
wrote:

[2016-09-13 02:23] rilwis commented on #952
I sent from support@fitwp.com. But here is the file again. Please put it into `framework` folder.
[sns-metabox.zip](https://github.com/rilwis/meta-box/files/468721/sns-metabox.zip)

[2016-09-13 03:04] rilwis commented on #958
@andreas-manusm Please post your code you're using to register meta boxes.

[2016-09-13 07:47] andreas-manusm commented on #958
@rilwis Oh, I use a professional theme that was working properly before. I will adress the developer to get in touch with you as I found many places where metabox is used. Many thanks so far.

[2016-09-13 21:47] steve-vancouver opened #961 "Incorrect dependency name – jquery-validate"
There’s an incorrect dependency name on line 46 of:
/plugins/meta-box/inc/validation.php

Currently is:
`wp_enqueue_script( 'rwmb-validate', RWMB_JS_URL . 'validate.js', array( 'jquery-validate' ), RWMB_VER, true );`

Should be:
`wp_enqueue_script( 'rwmb-validate', RWMB_JS_URL . 'validate.js', array( 'jquery-validation' ), RWMB_VER, true );`

[2016-09-14 02:14] rilwis commented on #961
Thanks for reporting. This is fixed in #959

[2016-09-14 02:14] #961 closed

[2016-09-14 20:39] athossin commented on #960
problem solved:
[code]

[2016-09-14 20:39] #960 closed

[2016-09-14 22:36] abarani opened #962 "Incorrect URL to plugin assets when included in a theme using a symlinked directory"
Similar issue as #825 but with meta-box included in a theme.

#### In brief:
- We use capistrano for deployment.
- The theme directory is symlinked to the releases directory.
- We're using a theme which includes meta-box and some extensions ([Real Homes](https://themeforest.net/item/real-homes-wordpress-real-estate-theme/5373914)).

#### Issue:
In the admin area URLs for js and css files are showi

[2016-09-15 01:28] rilwis commented on #962
Thank you very much for the Pull Request. I'll close this issue and let's work on the PR instead :)

[2016-09-15 01:28] #962 closed

[2016-09-15 01:29] rilwis commented on #943
FYI, the latest version of both Meta Box and MB Settings Page were released which fixes this problem.

[2016-09-15 01:29] #943 closed

[2016-09-15 10:28] jsor commented on #922
I think i'm having the same problem. This seems to fix it:

[code]

[2016-09-15 13:55] IchFloque commented on #958
I also have a problem with 4.9 that was not there in 4.8.7
When I go to edit a wordpress page (not a post) the editor for the content doesn't work any more.
I register the boxes with $groupsBig = rwmb_meta( 'box_group_big' );

[2016-09-15 14:37] JettH commented on #958
4.9.1 is working for us. Thanks. Will show as working on the WordPress page.

[2016-09-15 21:14] billreed85 commented on #958
I started having issues on my local install after the move from 4.8.7 to 4.9+. The issue sounds similar to @amilham. I was able to find the specific commit that started causing issues: 4c6f9e0 (specifically what was removed on lines 314-323).

The issue that's happening is any post type that has a meta box registered doesn't fully load in the backend of wordpress and leaves off all the metaboxes.

[2016-09-16 11:37] sungraiz opened #964 "Image advance field is not saving multiple images"
Hi,
Image advanced field shows only one image, no matter how many images are defined in max_file_uploads setting. See the below video

http://jmp.sh/IHZPQnx

I have also update your plugin to latest version but it didn’t fix the issue.

Kindly help us asap because our clients getting angry on us.

Thanks

[2016-09-16 13:29] sungraiz commented on #958
Hi,
Image advanced field shows only one image, no matter how many images are defined in max_file_uploads setting. See the below video

http://jmp.sh/IHZPQnx

I have also update your plugin to latest version but it didn’t fix the issue.

Kindly help us asap because our clients getting angry on us.

Thanks

[2016-09-16 14:48] athossin opened #965 "How to show taxonomy value and clone option value or image?"
Dear sir,
Thanks for this awesome plugin.I am using this plugin for making some metabox.I have a metabox with ID `pb_event_status_away` which has different options like Goal, Own goal etc. I have used following codes to registered this metabox.
[code]
When I am trying to show or echo out the content like Goal, Penalty ect. using followin codes then it shows id of the respective option.How to solve

[2016-09-17 11:20] Jordi-m commented on #957
Tips/suggestions about which code triggers the 'save' method in the meta-box plugin are still very welcome. I did not find the cause of the problem yet. I'm currently considering rolling back to a working version untill the cause is found.

[2016-09-17 11:47] funkedgeek commented on #964
Please post all the code you use to create the meta box and any other sister plugins that you are using.

[2016-09-17 11:51] funkedgeek commented on #958
@billreed85 if you re-add the code does it work properly?

[2016-09-17 11:55] funkedgeek commented on #957
Are you using any iof our other plugins at all?

[2016-09-17 11:58] Jordi-m commented on #957
@funkedgeek No, just Meta Box.

[2016-09-17 12:03] funkedgeek commented on #957
What plugins do you have active and what theme are you using?

[2016-09-17 12:08] Jordi-m commented on #957
@funkedgeek Plugins: Google Auth + Meta Box + OB page Numbers + Social + Wordpress Backup to Dropbox. (Note: Running the same setup on together with Meta Box 4.8.7 works without a problem).

I'm not using any front-end template. I only use the Wordpress administration area.

[2016-09-17 12:14] funkedgeek commented on #957
What is code you are using for the meta box itself?  I'm trying all options because I can't replicate this.  I've trying your code and the field works fine for me so I need everything you got so I can try to replicate this

[2016-09-17 12:17] Jordi-m commented on #957
@funkedgeek The field code I'm using is in the issue text itself. I'm not doing enything else, just a lot of meta box fields, where only this one is broken.

I appreciate your help in trying to replicate, but since no other users seem to have the same issue, it might be related to some specific piece of my setup that I can't figure out.

It's no problem for me to do some debugging myself, It's jus

[2016-09-17 13:40] Jordi-m commented on #957
@funkedgeek @rilwis Just found out the value is 'broken' when this code ran:

				echo $field['id'].' - '.$new.'<br />';
				$new = RWMB_Field::call( $field, 'value', $new, $old, $post_id );
				$new = RWMB_Field::filter( 'sanitize', $new, $field );
				echo $field['id'].' - '.$new.'<br />';

Output:

    datum_gebeurtenis - 17/09/16
    datum_gebeurtenis - 1

So I'll try to see what I find in val